<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor"> Reporte Estadístico</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reportes</a></li>
                <li class="breadcrumb-item">Estadístico</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">




              <!-- Buscador interno -->

            <img src="https://img.icons8.com/color/48/000000/search.png" width="35" height="35"/>   &nbsp; &nbsp;

            <label class="text-info" for="start"> <strong>  Fecha Inicial:</strong> </label>

             &nbsp; &nbsp;

             <input type="date" id="start" name="trip-start"
                    #inicio
                    [value]="fechaHoy"
                    min="2020-08-01" max="2022-12-31">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <label class="text-info" for="start"> <strong>   Fecha Final:</strong></label>

            &nbsp; &nbsp;
            <input type="date" id="end" name="trip-start"
                   #final
                           [value]="fechaHoy"
                           min="2020-08-01" max="2022-12-31">
             <br>
             <br>
             <br>
              &nbsp; &nbsp;
              <button (click)="buscar(inicio, final)" class="btn btn-outline-primary" >Buscar</button>


              <!-- End Buscador interno -->


               <!-- Estadístico -->


               <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            &nbsp;<th>12-05-2021</th>
                            <br>
                            <h4 class="card-title">Estadístico de las entregas </h4>

                            <div class="table-responsive">
                                <table class="table color-bordered-table warning-bordered-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Observaciones</th>
                                            <th>Cantidad</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of datosArray; let i = index;" >
                                            <td>{{ i+1 }}</td>
                                            <td> {{ d[0] }} </td>
                                            <td> {{ d[1] }} </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
        <!--  End Estadístico -->



            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>




