<div class="page-wrapper">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor"> Asignación Proveedores y Lotes</h2>
        </div>
        
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Proveedores </a></li>
            <li class="breadcrumb-item">Asignación</li>
  
          </ol>
        </div>
        <div class="col-md-5 align-self-center">
           
            </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
  
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">En está sección se podrá asignar proveedores y lotes al menú elaborado, previamente aprobado por la jefe/a UNACE. Por favor seleccione la Unidad 
                  Educativa que desea asignar los respectivos proveedores y lotes. </h4>
               
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Unidad Educativa</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>1</td>  
                              <td><a href="javascript:void(0)"><Em>Elizardo Pérez</Em></a></td>
                               
                              
                            </tr>
                            <tr>
                              <td>2</td>
                                <td><a href="javascript:void(0)">San Francisco</a></td>
                               
                             
                            </tr>
                            <tr>
                              <td>3</td>
                                <td><a href="javascript:void(0)">16 de Febrero</a></td>
                               
                              
                            </tr>
                            <tr> 
                              <td>4</td>
                                <td><a href="javascript:void(0)">Boliviano Holandés</a></td>
                               
                              
                            </tr>
                            <tr> 
                              <td>5</td>
                                <td><a href="javascript:void(0)">República de Japón</a></td>
                               
                              
                            </tr>
                            <tr> 
                              <td>6</td>
                                <td><a href="javascript:void(0)">Boliviano Noruego</a></td>
                               
                              
                            </tr>
                            <tr> 
                              <td>7</td>
                                <td><a href="javascript:void(0)">San Guillermo</a></td>
                               
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



<!-- Inicio Menús para asignar proveedores -->

    
      <div class="row" id="javascript:void(0)">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
            </div>
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Lote </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="P1">
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> Producto Sólido 1</td>                         
                                                            
                                <td>
                                
                                   
                                     
                                      <form class="app-search">
                                       <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                       
                      
                                 
                              


                                </td>
                                <td>

                                  <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Lote(s)</label>
                                    <div class="col-md-9">
                                    
                                      <input
                                                                              
                                        type="text"
                                        class="form-control">
                                        <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                      
                                    </div>
                                  </div>
                                 

                                </td>
                                <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                  <i class="ti-plus"></i> Agregar 
                              </a>
                        
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>
                                   
                                      
                                        
                                 <form class="app-search">
                                  <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                  
                                            
                         
   
   
                              </td>
                              <td>
   
                             <div class="form-group row">
                               <label class="control-label text-right col-md-3">Lote(s) </label>
                               <div class="col-md-9">
                               
                                 <input
                                                                         
                                   type="text"
                                   class="form-control">
                                   <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                 
                               </div>
                             </div>
                         
                            
   
                           </td>
                         </tr>

                            <tr>
                               
                              <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> Producto Liquido 5          </td>
                               
                                <td>
             
                                  <form class="app-search">
                                   <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                   
                                             
                          


                               </td>
                               <td>

                              <div class="form-group row">
                                <label class="control-label text-right col-md-3">Lote(s) </label>
                                <div class="col-md-9">
                                
                                  <input
                                                                          
                                    type="text"
                                    class="form-control">
                                    <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                  
                                </div>
                              </div>
                             

                            </td>
                            <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                              <i class="ti-plus"></i> Agregar </a>

                            </tr>
                          

                           <tr>
                           <td></td>
                           <td></td>
                           <td>
                                
                                   
                                     
                              <form class="app-search">
                               <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                               
                                         
                      


                           </td>
                           <td>

                           <div class="form-group row">
                            <label class="control-label text-right col-md-3">Lote(s) </label>
                             <div class="col-md-9">
                            
                              <input
                                                                      
                                type="text"
                                class="form-control">
                                <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                              
                            </div>
                           </div>
                      
                         

                          </td>
                        
                               
                                
                               
                         </tr>
                           
                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>
  


      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
            </div>
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Lote</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td>
                                    
                                     Producto 45
                                </td>
                               
                                <td>
                                
                                   
                                     
                                  <form class="app-search">
                                   <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                               
                                          
                          


                            </td>
                            <td>

                              <div class="form-group row">
                                <label class="control-label text-right col-md-3">Lote(s)</label>
                                <div class="col-md-9">
                                
                                  <input
                                                                          
                                    type="text"
                                    class="form-control">
                                    <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                  
                                </div>
                              </div>

                             

                            </td>
                           <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                              <i class="ti-plus"></i> Agregar </a>
                              
                                                                
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>
                                   
                                      
                                        
                                 <form class="app-search">
                                  <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                  
                                            
                         
   
   
                              </td>
                              <td>
   
                              <div class="form-group row">
                               <label class="control-label text-right col-md-3">Lote(s) </label>
                                <div class="col-md-9">
                               
                                 <input
                                                                         
                                   type="text"
                                   class="form-control">
                                   <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                 
                               </div>
                              </div>
                         
                            
   
                             </td>
                           
                                  
                                   
                                  
                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td>

                                    Producto 56


                                </td>
                                <td>
                                
                                   
                                     
                                  <form class="app-search">
                                   <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                               
                                          
                          


                            </td>
                            <td>

                              <div class="form-group row">
                                <label class="control-label text-right col-md-3">Lote(s)</label>
                                <div class="col-md-9">
                                
                                  <input
                                                                          
                                    type="text"
                                    class="form-control">
                                    <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                  
                                </div>
                              </div>
                             

                            </td>
                            <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                              <i class="ti-plus"></i> Agregar </a>

                              
                               
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>
                                   
                                      
                                        
                                 <form class="app-search">
                                  <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                  
                                            
                         
   
   
                              </td>
                              <td>
   
                              <div class="form-group row">
                               <label class="control-label text-right col-md-3">Lote(s) </label>
                                <div class="col-md-9">
                               
                                 <input
                                                                         
                                   type="text"
                                   class="form-control">
                                   <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                 
                               </div>
                              </div>
                         
                            
   
                             </td>
                           
                                  
                                   
                                  
                            </tr>
                           
                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>
  


      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
            </div>
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Lote</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td>
                                    Producto 45

                                </td>
                                <td>
                                
                                   
                                     
                                  <form class="app-search">
                                   <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                               
                                          
                          


                            </td>
                            <td>

                              <div class="form-group row">
                                <label class="control-label text-right col-md-3">Lote(s)</label>
                                <div class="col-md-9">
                                
                                  <input
                                                                          
                                    type="text"
                                    class="form-control">
                                    <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                  
                                </div>
                              </div>
                             

                            </td>
                            <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                              <i class="ti-plus"></i> Agregar </a>

                                                                
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>
                                   
                                      
                                        
                                 <form class="app-search">
                                  <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                  
                                            
                         
   
   
                              </td>
                              <td>
   
                              <div class="form-group row">
                               <label class="control-label text-right col-md-3">Lote(s) </label>
                                <div class="col-md-9">
                               
                                 <input
                                                                         
                                   type="text"
                                   class="form-control">
                                   <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                 
                               </div>
                              </div>
                         
                            
   
                             </td>
                           
                                  
                                   
                                  
                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td>

                                   Producto 67


                                </td>
                                <td>
                                
                                   
                                     
                                  <form class="app-search">
                                   <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                               
                                          
                          


                            </td>
                            <td>

                              <div class="form-group row">
                                <label class="control-label text-right col-md-3">Lote(s)</label>
                                <div class="col-md-9">
                                
                                  <input
                                                                          
                                    type="text"
                                    class="form-control">
                                    <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                  
                                </div>
                              </div>
                             

                            </td>
                            <a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                              <i class="ti-plus"></i> Agregar </a>

                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>
                                   
                                      
                                        
                                 <form class="app-search">
                                  <input type="text" class="form-control mr-sm-2" placeholder="Buscar Proveedor"> </form>  
                                  
                                            
                         
   
   
                              </td>
                              <td>
   
                              <div class="form-group row">
                               <label class="control-label text-right col-md-3">Lote(s) </label>
                                <div class="col-md-9">
                               
                                 <input
                                                                         
                                   type="text"
                                   class="form-control">
                                   <span class="help-block"><small>Asignar más de 2 lotes con la separación del signo coma "," Ej. L123,L124</small></span> 
                                 
                               </div>
                              </div>
                         
                            
   
                             </td>
                           
                                  
                                   
                                  
                            </tr>
                           
                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>
  


      <div class="row">
        <div class="col-lg-12">
          <div class="card">
           
            <div class="card-body">
                
                <td >
               
                   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Guardarasignacion">Guardar</button>
                </td>


            </div>
          </div>
        </div>
      </div>
 
 
      <!-- Fin Menús para asignar proveedores -->

      <tfoot>
      
        <tr>

            <div id="Guardarasignacion" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea aprobar la presente asignación de productos y lotes al menú correspondiente? </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>

               
        </tr>

     
                               
                                
                  
                     

                    <!-- <div class="modal-footer">
                      <button
                        
                        type="submit"
                        class="btn btn-info waves-effect"
                        data-dismiss="modal" >Guardar</button>
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button> --> 
                   <!--  </div> -->
            <!--       </form>
                </div>


              </div>
            </div>
          </div>
        </tr> -->

           
     <!--  </tfoot> -->
    
    
    
      


     
       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
  
</div>
</div>


