
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Editar Producto</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Producto</a></li>
                <li class="breadcrumb-item">Editar</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h6 class="card-subtitle">Búsqueda de productos existentes por  códigos o nombres</h6>


              <!-- Buscador interno -->
<!--              <div class="row m-t-40">-->

<!--                <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>-->
<!--                <form class="app-search">-->
<!--                  <input type="text" class="form-control" placeholder="Buscar Producto"> <a class="srh-btn"></a> </form>-->

<!--                <button type="button">Buscar</button>-->

<!--              </div>-->
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de productoes -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Presupuesto Inicial</th>
                        <th>Precio unitario</th>

                      </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let producto of productos; let i = index;" >
                            <td> {{ producto.CodigoProducto }} </td>
                            <td> {{ producto.NombreProducto }} </td>
                            <td> {{ producto.PresupuestoInicial }} Bs </td>
                            <td> {{ producto.PrecioUnitario }} Bs </td>


                            <button
                              type="button"
                              class="btn btn-info btn-rounded"
                              data-toggle="modal"
                              (click)="editarProducto(i)"
                              data-target="#add-contact" >Editar</button>

                            <button
                              type="button"
                              class="btn btn-danger btn-rounded"
                              data-toggle="modal"
                              (click)="eliminarProducto(i)"
                              data-target="#eliminar">Eliminar</button>

                            <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar este producto?</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-danger waves-effect"
                                        (click)="eliminar()"
                                        data-dismiss="modal" >Eliminar</button>
                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                          <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">Editar producto</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <form
                                    class="form-horizontal form-material"
                                    action="index.html">
                                    <div class="form-group">
                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Nombre del producto</label>
                                        <input
                                          #nombre
                                          type="text"
                                          [value]="productoEditar.NombreProducto"
                                          class="form-control">
                                      </div>


                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Descripcion</label>
                                        <input
                                          #descripcion
                                          type="text"
                                          [value]="productoEditar.Descripcion"
                                          class="form-control">
                                      </div>

                                      <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Categoria del producto</label>

                                        <div class="form-check form-check-inline">
                                          <input
                                            #solido_liquido
                                            class="form-check-input"
                                            type="radio"
                                            name="inlineRadioOptions"
                                            id="inlineRadio1"
                                            [checked]="productoEditar.Solido_Liquido"
                                            (change)="solidLiquid = true"
                                            >
                                          <label class="form-check-label" for="inlineRadio1">Solido</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input
                                            #solido_liquido
                                            class="form-check-input"
                                            type="radio"
                                            name="inlineRadioOptions"
                                            id="inlineRadio2"
                                            [checked]="!productoEditar.Solido_Liquido"
                                            (change)="solidLiquid = false"
                                            >
                                          <label class="form-check-label" for="inlineRadio2">Liquido</label>
                                        </div>
                                      </div>

                                      <div class="col-md-12 m-b-20" >
                                        <label class="text-info">Proveedor</label>
                                        <div class="col-md-9">
                                          <select
                                            #proveedor
                                            name="Proveedor"
                                            class="form-control custom-select"
                                          >
                                            <option [selected]="productoEditar.IdProveedor._id === proveedor._id" [value]="proveedor._id" *ngFor="let proveedor of proveedores; let i = index;" >
                                              {{ proveedor.NombreProveedor }}
                                            </option>
                                          </select>
                                        </div>
                                      </div>

                                      <div class="col-md-12 m-b-20" >
                                        <label class="text-info">Almacen</label>
                                        <div class="col-md-9">
                                          <select
                                            #almacen
                                            name="Almacen"
                                            class="form-control custom-select"
                                          >
                                            <option [value]="almacen._id" *ngFor="let almacen of almacenes; let i = index;" >
                                              {{ almacen.NombreAlmacen }}
                                            </option>
                                          </select>
                                        </div>
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Lote</label>
                                        <input
                                          #lote
                                          type="text"
                                          [value]="productoEditar.Lote"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Volumen</label>
                                        <input
                                          #volumen
                                          type="text"
                                          [value]="productoEditar.Volumen"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Gramage</label>
                                        <input
                                          #gramage
                                          type="text"
                                          [value]="productoEditar.Gramage"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Presupuesto inicial</label>
                                        <input
                                          #presInicial
                                          type="text"
                                          [value]="productoEditar.PresupuestoInicial"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Niveles</label>
                                        <div class="demo-checkbox">
                                          <div *ngFor="let nivel of niveles; let i = index;" >
                                            <input
                                              (change)="selectNivel($event.target.checked, i)"
                                              [checked]="nivelesBool[i]"
                                              type="checkbox"
                                              [id]="i"
                                              class="filled-in chk-col-blue" />
                                            <label [for]="i" > {{ nivel }} </label>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Precio unitario</label>
                                        <input
                                          #precUnitario
                                          type="text"
                                          [value]="productoEditar.PrecioUnitario"
                                          class="form-control">
                                      </div>


                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        (click)="editar(nombre, descripcion, solido_liquido, proveedor, almacen, lote, volumen, gramage, presInicial, precUnitario)"
                                        type="submit"
                                        class="btn btn-info waves-effect"
                                        data-dismiss="modal"
                                        >Guardar</button>

                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </form>
                                </div>


                              </div>
                            </div>
                          </div>
                        </tr>
                      </tfoot>

                    <tfoot>

                </table>
              </div>


            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>


