
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Editar Producto</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Producto</a></li>
                <li class="breadcrumb-item">Editar</li> 

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h6 class="card-subtitle">Búsqueda de productos existentes por  códigos o nombres</h6>


              <!-- Buscador interno -->
              <div class="row m-t-40">

                <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                <form class="app-search">
                  <input type="text" class="form-control" placeholder="Buscar Producto"> <a class="srh-btn"></a> </form>

                <button type="button">Buscar</button>

              </div>
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de productoes -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Precio </th>

                      </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let producto of productos; let i = index;" >
                            <td> {{ producto.Codigoproducto }} </td>
                            <td> {{ producto.Nombreproducto }} </td>
                            <td> {{ producto.NombreEmpresa }} </td>
                            <td> {{ producto.Direccion }} </td>



                            <button
                              type="button"
                              class="btn btn-info btn-rounded"
                              data-toggle="modal"
                              (click)="editarIndex(i)"
                              data-target="#add-contact" >Editar</button>

                            <button
                              type="button"
                              class="btn btn-danger btn-rounded"
                              data-toggle="modal"
                              (click)="eliminarIndex(i)"
                              data-target="#eliminar">Eliminar</button>

                            <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar este producto?</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-danger waves-effect"
                                        (click)="eliminar()"
                                        data-dismiss="modal" >Eliminar</button>
                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                          <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">Editar producto</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <form
                                    class="form-horizontal form-material"
                                    action="index.html">
                                    <div class="form-group">
                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Nombre del producto</label>
                                        <input
                                          #np
                                          type="text"
                                          [value]="productoEditar.Nombreproducto"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Codigo</label>
                                        <input
                                          #c
                                          type="text"
                                          [value]="productoEditar.Codigoproducto"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Representante Legal</label>
                                        <input
                                          #ne
                                          type="text"
                                          [value]="productoEditar.NombreEmpresa"
                                          class="form-control"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Dirección</label>
                                        <input
                                          #d
                                          type="text"
                                          [value]="productoEditar.Direccion"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Descripcion</label>
                                        <input
                                          #des
                                          type="text"
                                          [value]="productoEditar.Descripcion"
                                          class="form-control">
                                      </div>

                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        (click)="edit(np, c, ne, d, des)"
                                        type="submit"
                                        class="btn btn-info waves-effect"
                                        data-dismiss="modal">Guardar</button>

                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </form>
                                </div>


                              </div>
                            </div>
                          </div>
                        </tr>
                      </tfoot>

                    <tfoot>

                </table>
              </div>


            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->


































    </div>
</div>


