
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor"> Menú Histórico Confirmado</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reportes</a></li>
                <li class="breadcrumb-item">Menú confirmado</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

            


              <!-- Buscador interno -->
            
            <img src="https://img.icons8.com/color/48/000000/search.png" width="35" height="35"/>   &nbsp; &nbsp;
               
            <label class="text-info" for="start"> <strong>  Fecha Inicial:</strong> </label>
             
             &nbsp; &nbsp;

             <input type="date" id="start" name="trip-start"
                    value="2020-08-01"
                    min="2020-08-01" max="2022-12-31">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
            <label class="text-info" for="start"> <strong>   Fecha Final:</strong></label>
            
            &nbsp; &nbsp;
            <input type="date" id="end" name="trip-start"
                           value="2021-12-31"
                           min="2020-08-01" max="2022-12-31">
             <br>
             <br>
             <br>
            
              
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de menu histórico -->
               <!-- Menú 1 -->
              <div class="row">
                  
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header bg-warning">
                      <h4 class="m-b-0 text-white">Menú  Fecha 12 de septiembre de 2020</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-info">
                                    <tr>
                                        <th>Estado</th>
                                        <th>Producto Nivel Inicial</th>
                                        <th>Producto Nivel Primaria</th>
                                        <th>Producto Nivel Secundaria</th>
                                      
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="label label-success">SÓLIDO</span> </td>
                                        <td> Producto Sólido 11</td>  
                                        <td> Producto Sólido 2</td> 
                                        <td> Producto Sólido 8</td>                        
                                                                    
                                                                                                               
                                    </tr>
                                    <tr>
                                        <td><span class="label label-info">LÍQUIDO</span> </td>
                                        <td> Producto Liquido 23        </td>
                                        <td> Producto Liquido 5         </td>
                                        <td> Producto Liquido 12        </td>
                                                                               
                                       
                                    </tr>
                                    
                                   
                                </tbody>
                            </table>

                          
                        </div>
        
                       
        
        
        
        
                    </div>
                  </div>
                </div>
              </div>
        <!--  End Menú 1 -->

        <!-- Menú 2 -->
        <div class="row">
                  
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header bg-warning">
                  <h4 class="m-b-0 text-white">Menú  Fecha 11 de septiembre de 2020</h4>
                </div>
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-info">
                                <tr>
                                    <th>Estado</th>
                                    <th>Producto Nivel Inicial</th>
                                    <th>Producto Nivel Primaria</th>
                                    <th>Producto Nivel Secundaria</th>
                                  
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="label label-success">SÓLIDO</span> </td>
                                    <td> Producto Sólido 11</td>  
                                    <td> Producto Sólido 2</td> 
                                    <td> Producto Sólido 8</td>                        
                                                                
                                                                                                           
                                </tr>
                                <tr>
                                    <td><span class="label label-info">LÍQUIDO</span> </td>
                                    <td> Producto Liquido 23        </td>
                                    <td> Producto Liquido 5         </td>
                                    <td> Producto Liquido 12        </td>
                                                                           
                                   
                                </tr>
                                
                               
                            </tbody>
                        </table>

                      
                    </div>
    
                   
    
    
    
    
                </div>
              </div>
            </div>
          </div>
    <!--  End Menú 2 -->
     <!-- Menú 3 -->
     <div class="row">
                  
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-warning">
              <h4 class="m-b-0 text-white">Menú  Fecha 10 de septiembre de 2020</h4>
            </div>
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-info">
                            <tr>
                                <th>Estado</th>
                                <th>Producto Nivel Inicial</th>
                                <th>Producto Nivel Primaria</th>
                                <th>Producto Nivel Secundaria</th>
                              
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> Producto Sólido 11</td>  
                                <td> Producto Sólido 2</td> 
                                <td> Producto Sólido 8</td>                        
                                                            
                                                                                                       
                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> Producto Liquido 23        </td>
                                <td> Producto Liquido 5         </td>
                                <td> Producto Liquido 12        </td>
                                                                       
                               
                            </tr>
                            
                           
                        </tbody>
                    </table>

                  
                </div>

               




            </div>
          </div>
        </div>
      </div>
<!--  End Menú 3 -->
 <!-- Menú 4 -->
 <div class="row">
                  
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-warning">
          <h4 class="m-b-0 text-white">Menú  Fecha 9 de septiembre de 2020</h4>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-info">
                        <tr>
                            <th>Estado</th>
                            <th>Producto Nivel Inicial</th>
                            <th>Producto Nivel Primaria</th>
                            <th>Producto Nivel Secundaria</th>
                          
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="label label-success">SÓLIDO</span> </td>
                            <td> Producto Sólido 11</td>  
                            <td> Producto Sólido 2</td> 
                            <td> Producto Sólido 8</td>                        
                                                        
                                                                                                   
                        </tr>
                        <tr>
                            <td><span class="label label-info">LÍQUIDO</span> </td>
                            <td> Producto Liquido 23        </td>
                            <td> Producto Liquido 5         </td>
                            <td> Producto Liquido 12        </td>
                                                                   
                           
                        </tr>
                        
                       
                    </tbody>
                </table>

              
            </div>

           




        </div>
      </div>
    </div>
  </div>
<!--  End Menú 4 -->
            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>



