
<div class="page-wrapper">
    <div class="container-fluid">
      <br>

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Consulta Lotes</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reportes</a></li>
                <li class="breadcrumb-item">Lotes</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h4 class="card-subtitle">Búsqueda de Unidades Educativas por lote de producto. Cada lote refiere a un proveedor de un producto en específico. Por favor introduzca el respectivo código del lote del producto, filtrado por fechas.</h4>


              <!-- Buscador interno -->
             <div class="row m-t-40">

                <img src="https://img.icons8.com/color/48/000000/search.png" width="35" height="35"/>
                <form class="app-search">
                 <input type="text" class="form-control mr-sm-2" placeholder="Buscar Lote"> <a class="srh-btn"></a> </form>  &nbsp;
                 <button class="btn btn-outline-info btn-rounded btn-sm my-0" type="submit">Buscar</button>

             </div>

             <br> <br> 

             <label class="text-info" for="start"> <strong>  Fecha Inicial:</strong> </label>
             
             &nbsp; &nbsp;

             <input type="date" id="start" name="trip-start"
                    value="2020-08-01"
                    min="2020-08-01" max="2022-12-31">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
            <label class="text-info" for="start"> <strong>   Fecha Final:</strong></label>
            
            &nbsp; &nbsp;
            <input type="date" id="end" name="trip-start"
                           value="2021-12-31"
                           min="2020-08-01" max="2022-12-31">
             <br>
              
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de productoes -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>#</th>
                        <th>Unidad Educativa</th>
                        <th>Nivel</th>
                        <th>Proveedor</th>
                        <th>Producto</th>
                        <th>Cantidad de Producto</th>
                        <th>Fecha</th>
                       


                      </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>1 </td>
                            <td>Gualberto Villarroel</td>
                            <td> Secundaria </td>
                            <td> Irupana</td>
                            <td> Galletas Yep </td>
                            <td> 4540 </td>
                            <td> 12/08/2020</td>
                           
                           

                           
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>2 </td>
                            <td>San Misael Saracho</td>
                            <td> Secundaria</td>
                            <td> Irupana</td>
                            <td> Galletas Yep </td>
                            <td> 1500 </td>
                            <td> 12/08/2020</td>
                           
                           

                           
                        </tr>

                    </tbody>
                  

                   

                </table>
              </div>


            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>



