
<div class="page-wrapper">
    <div class="container-fluid">
      <br>

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Consulta Lotes</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reportes</a></li>
                <li class="breadcrumb-item">Lotes</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h4 class="card-subtitle">Búsqueda de Unidades Educativas por lote de producto. Cada lote refiere a un proveedor de un producto en específico. Por favor introduzca el respectivo código del lote del producto, filtrado por fechas.</h4>


              <!-- Buscador interno -->
             <div class="row m-t-40">

                <img src="https://img.icons8.com/color/48/000000/search.png" width="35" height="35"/>
                <form class="app-search">
                 <input
                   #codigo
                   type="text"
                   class="form-control mr-sm-2"
                   placeholder="Buscar Lote"> <a class="srh-btn"></a> </form>  &nbsp;
                 <button
                   (click)="buscarLotes(codigo, fechaInicio, fechaFinal)"
                   class="btn btn-outline-info btn-rounded btn-sm my-0" type="submit">Buscar</button>

             </div>

             <br> <br>

             <label class="text-info" for="start"> <strong>  Fecha Inicial:</strong> </label>

             &nbsp; &nbsp;

             <input type="date" id="start" name="trip-start"
                    #fechaInicio
                    [value]="fechaHoy"
                    min="2020-08-01" max="2022-12-31">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <label class="text-info" for="start"> <strong>   Fecha Final:</strong></label>

            &nbsp; &nbsp;
            <input type="date" id="end" name="trip-start"
                            #fechaFinal
                           [value]="fechaHoy"
                           min="2020-08-01" max="2022-12-31">
             <br>


             
<!-- PDF -->
<div class="form-actions">
  <div class="row">
    <div class="col-md-6">
    
      <div class="row">
        <div class="actions">
        <div class="col-md-offset-3 col-md-9">
          <button type="submit" (click)="onExportClick()" class="export-button"> <i class="fa fa-pencil"></i> Generar PDF</button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"> </div>
  </div>
</div>
<!-- END PDF -->

              <!-- End Buscador interno -->

              <!-- Inicio Tabla de productoes -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>#</th>
                        <th>Unidad Educativa</th>
                        <th>Lote liquido inicial</th>
                        <th>Lote liquido primaria</th>
                        <th>Lote liquido secundaria</th>
                        <th>Lote solido inicial</th>
                        <th>Lote solido primaria</th>
                        <th>Lote solido secundaria</th>
<!--                        <th>Fecha</th>-->

                      </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let lote of lotes; let i = index;" >
                            <td>  </td>
                            <td>  </td>
                            <td> {{ i+1 }} </td>
                            <td> {{ lote.NombreColegio }} </td>
                            <td> {{ lote.LoteLiquidoInicial }}  </td>
                            <td> {{ lote.LoteLiquidoPrimaria }} </td>
                            <td> {{ lote.LoteLiquidoSegundaria }}  </td>
                            <td> {{ lote.LoteSolidoInicial }}  </td>
                            <td> {{ lote.LoteSolidoPrimaria }} </td>
                            <td> {{ lote.LoteSolidoSegundaria }} </td>

                        </tr>

                    </tbody>




                </table>
              </div>


            </div>
          </div>
        </div>
      </div>





<!-- BOLETA PDF -->

<div class="container" id="reporte-pdf">
 
  <div class="card" >
  <div class="card-body">
    <div>
      <img src="../assets/images/Sisace.png" width="180" height="80" alt="homepage"  />
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     
      <img src="../assets/images/logo-lapaz.jpg" width="100" height="70"  alt="user" />

    </div>
      <h5 class="col-sm-12 d-flex justify-content-center" >

        <strong>  Gobierno Autónomo Municipal de La Paz </strong>
  
  
      </h5>
      <h5 class="col-sm-12 d-flex justify-content-center"><strong>  Servicio de Alimentación Complementaria Escolar </strong></h5>
      <h5 class="col-sm-12 d-flex justify-content-center"> <strong>Reporte Lotes</strong></h5>

      <h6 class="col-sm-12 d-flex justify-content-center"> <strong>Fecha</strong></h6>

              <!-- Inicio Tabla de productoes -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>#</th>
                        <th>Unidad Educativa</th>
                        <th>Lote liquido inicial</th>
                        <th>Lote liquido primaria</th>
                        <th>Lote liquido secundaria</th>
                        <th>Lote solido inicial</th>
                        <th>Lote solido primaria</th>
                        <th>Lote solido secundaria</th>
<!--                        <th>Fecha</th>-->

                      </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let lote of lotes; let i = index;" >
                            <td>  </td>
                            <td>  </td>
                            <td> {{ i+1 }} </td>
                            <td> {{ lote.NombreColegio }} </td>
                            <td> {{ lote.LoteLiquidoInicial }}  </td>
                            <td> {{ lote.LoteLiquidoPrimaria }} </td>
                            <td> {{ lote.LoteLiquidoSegundaria }}  </td>
                            <td> {{ lote.LoteSolidoInicial }}  </td>
                            <td> {{ lote.LoteSolidoPrimaria }} </td>
                            <td> {{ lote.LoteSolidoSegundaria }} </td>

                        </tr>

                    </tbody>




                </table>
              </div>

   






</div>
  </div>
</div>
<!-- FIN BOLETA PDF -->

       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>



