<div class="page-wrapper">
    <div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor">Calculos Diarios</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú</a></li>
            <li class="breadcrumb-item">Calculos Diarios</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de Productos Disponibles</h4>

        <div class="table-responsive m-t-40">
            <table class="table color-table warning-table">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Nivel</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let producto of productos; let i = index;" >
                        <th> {{ i+1 }} </th>
                        <td> {{ producto.NombreProducto }} </td>
                        <td>
                          <div class="" *ngFor="let nivel of producto.Nivels; let i = index;" >
                                - {{ nivel.Nivel }}
                          </div>
                        </td>
                        <td >
                            <button
                              (click)="botonCalcular(i)"
                              type="button"
                              class="btn btn-info btn-rounded"
                              data-toggle="modal"
                              data-target="#Calcular" >Calcular</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<tfoot>
    <tr>
      <div id="Calcular" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Calculo de Frecuencias y Presupuesto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">

              <form>

                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Población Beneficiaria</th>
                                <th>Cantidad de alumnos</th>
                                <th>Frecuencia Inicial</th>
                                <th>Presupuesto Inicial(Bs.-)</th>
                                <th>Frecuencia Disponible</th>
                                <th>Presupuesto Disponible(Bs.-)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Población Nivel Inicial</td>
                                <td> {{ calculoDiario.TotalAlumnosInicial }} </td>
                                <td> {{ calculoDiario.FrecuenciaInicialInicial }} </td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Población Nivel Primaria</td>
                                <td> {{ calculoDiario.TotalAlumnosPrimaria }} </td>
                                <td> {{ calculoDiario.FrecuenciaInicialPrimaria }} </td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Población Nivel Secundaria</td>
                                <td> {{ calculoDiario.TotalAlumnosSegundaria }} </td>
                                <td> {{ calculoDiario.FrecuenciaInicialSegundaria }} </td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>

                            </tr>
                        </tbody>



                    </table>

            </div>



              </form>
            </div>


          </div>
        </div>
      </div>
    </tr>
  </tfoot>














    </div>
</div>
