<div class="page-wrapper">

  <div class="container-fluid">

    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Usuarios</h3>
      </div>

      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Usuarios</a>
          </li>
          <li class="breadcrumb-item">Editar Usuario</li>

        </ol>
      </div>

      <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
          <i class="ti-settings text-white"></i>
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Editar Usuarios</h4>
            <h6 class="card-subtitle">Búsqueda de usuarios existentes por  códigos o nombres</h6>


            <!-- Buscador interno -->
            <div class="row m-t-40">

              <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
              <form class="app-search">
                <input type="text" class="form-control" placeholder="Buscar usuario"> <a class="srh-btn"></a> </form>

              <button type="button">Buscar</button>

            </div>
            <!-- End Buscador interno -->

            <!-- Inicio Tabla de Usuarios -->
            <div class="table-responsive">
              <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nombre</th>
                      <th>Dirección</th>
                      <th>Telefono</th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let usuario of usuarios; let i = index" >
                      <td> {{ i+1 }} </td>
                      <td>
                        <p class="text-info" > {{ usuario.NombreCompleto }} </p>
                      </td>
                      <td >
                        {{ usuario.Direccion }}
                      </td>
                      <td >
                        <p class="text-primary" > {{ usuario.Telefono }} </p>
                      </td>
                      <td >
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact" (click)="llenarEditar(i)" >Editar Usuario</button>
                        <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#eliminar">Eliminar</button>
                      </td>

                      <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar usuario?</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" (click)="eliminarUsuario(i)" >Eliminar</button>
                              <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </tr>

                  </tbody>

                  <tfoot>
                    <tr>
                      <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>

                            <div class="modal-body">

                              <form
                                class="form-horizontal form-material"
                                action="index.html">
                                <div class="form-group">
                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >Nombre completo</label>
                                    <input

                                      #nc
                                      type="text"
                                      class="form-control"
                                      [value]=" usuarioEditar.NombreCompleto " >
                                  </div>
                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >Correo Electrónico</label>
                                    <input

                                      #ce
                                      type="text"
                                      class="form-control"
                                      [value]=" usuarioEditar.Email " >
                                  </div>
                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >Dirección</label>
                                    <input

                                      #d
                                      type="text"
                                      class="form-control"
                                      [value]=" usuarioEditar.Direccion " >
                                  </div>



                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >Género</label>
                                    <div class="col-md-9">
                                      <select
                                        #g
                                        class="form-control custom-select"
                                        data-placeholder="Choose a Category" >

                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>

                                      </select>
                                  </div>

                                  </div>




                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >teléfono</label>
                                    <input

                                      #t
                                      type="text"
                                      class="form-control"
                                      [value]=" usuarioEditar.Telefono " >
                                  </div>

                                  <div class="col-md-12 m-b-20">
                                    <label class="text-info" >Rol</label>
                                    <div class="col-md-9">
                                      <select class="form-control custom-select" data-placeholder="Elija un rol" >
                                        <option value="Category 1">Rol 1</option>
                                        <option value="Category 2">Rol 2</option>
                                        <option value="Category 3">Rol 3</option>
                                        <option value="Category 4">Rol 4</option>
                                        <option value="Category 5">Rol 5</option>
                                        <option value="Category 6">Rol 6</option>
                                        <option value="Category 7">Rol 7</option>

                                    </select>
                                  </div>

                                  </div>

                                </div>
                                <div class="modal-footer">
                                  <button
                                    (click)="editarUsuario(nc, ce, d, g, t)"
                                    type="submit"
                                    class="btn btn-info waves-effect"
                                    data-dismiss="modal" >Guardar</button>
                                  <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                </div>
                              </form>
                            </div>


                          </div>
                        </div>
                      </div>
                    </tr>
                  </tfoot>

              </table>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer"> © 2020 Sidace GAMLP </footer>
</div>
