<div class="page-wrapper">
    <div class="container-fluid">
      <br>

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Editar Proveedores</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Proveedores</a></li>
                <li class="breadcrumb-item">Editar</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h6 class="card-subtitle">Búsqueda de proveedores existentes por  códigos o nombres</h6>


              <!-- Buscador interno -->
<!--              <div class="row m-t-40">-->

<!--                <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>-->
<!--                <form class="app-search">-->
<!--                  <input type="text" class="form-control" placeholder="Buscar Proveedor"> <a class="srh-btn"></a> </form>-->

<!--                <button type="button">Buscar</button>-->

<!--              </div>-->
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de Proveedores -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Representante Legal</th>
                        <th>Dirección</th>
                       <!--  <th>Prod 1</th>
                        <th>Prod 2</th>
                        <th>Prod 3</th>
                        <th>Prod 4</th>
                        <th>Prod 5</th>
                        <th>Prod 6</th>
                        <th>Prod 7</th>
                        <th>Prod 8</th>
                        <th>Prod 9</th>
                        <th>Prod 10</th> -->

                      </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let proveedor of proveedores; let i = index;" >
                            <td> {{ proveedor.CodigoProveedor }} </td>
                            <td> {{ proveedor.NombreProveedor }} </td>
                            <td> {{ proveedor.NombreEmpresa }} </td>
                            <td> {{ proveedor.Direccion }} </td>
                            <td> {{ proveedor.pro1 }} </td>
                            <td> {{ proveedor.pro2 }} </td>
                            <td> {{ proveedor.pro3 }} </td>
                            <td> {{ proveedor.pro4 }} </td>
                            <td> {{ proveedor.pro5 }} </td>
                            <td> {{ proveedor.pro6 }} </td>
                            <td> {{ proveedor.pro7 }} </td>
                            <td> {{ proveedor.pro8 }} </td>
                            <td> {{ proveedor.pro9 }} </td>
                            <td> {{ proveedor.pro10 }} </td>

                            <button
                              type="button"
                              class="btn btn-warning btn-rounded"
                              data-toggle="modal"
                              (click)="editarIndex(i)"
                              data-target="#add-contact" >Editar</button>

                            <button
                              type="button"
                              class="btn btn-danger btn-rounded"
                              data-toggle="modal"
                              (click)="eliminarIndex(i)"
                              data-target="#eliminar">Eliminar</button>

                            <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar este proveeedor?</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-danger waves-effect"
                                        (click)="eliminar()"
                                        data-dismiss="modal" >Eliminar</button>
                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                          <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">Editar Proveedor</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <form
                                    class="form-horizontal form-material"
                                    action="index.html">
                                    <div class="form-group">
                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Nombre del proveedor</label>
                                        <input
                                          #np
                                          type="text"
                                          [value]="proveedorEditar.NombreProveedor"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Código</label>
                                        <input
                                          #c
                                          type="text"
                                          [value]="proveedorEditar.CodigoProveedor"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Representante Legal</label>
                                        <input
                                          #ne
                                          type="text"
                                          [value]="proveedorEditar.NombreEmpresa"
                                          class="form-control"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 1</label>
                                        <input
                                          #pro1
                                          class="form-control"
                                          [value]="proveedorEditar.pro1"
                                         >
                                      </div>
                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 2</label>
                                        <input
                                          #pro2
                                          class="form-control"
                                          [value]="proveedorEditar.pro2"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 3</label>
                                        <input
                                          #pro3
                                          class="form-control"
                                          [value]="proveedorEditar.pro3"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 4</label>
                                        <input
                                          #pro4
                                          class="form-control"
                                          [value]="proveedorEditar.pro4"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 5</label>
                                        <input
                                          #pro5
                                          class="form-control"
                                          [value]="proveedorEditar.pro5"
                                         >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 6</label>
                                        <input
                                          #pro6
                                          class="form-control"
                                          [value]="proveedorEditar.pro6"
                                        >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 7</label>
                                        <input
                                          #pro7
                                          class="form-control"
                                          [value]="proveedorEditar.pro7"
                                        >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 8</label>
                                        <input
                                          #pro8
                                          class="form-control"
                                          [value]="proveedorEditar.pro8"
                                        >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 9</label>
                                        <input
                                          #pro9
                                          class="form-control"
                                          [value]="proveedorEditar.pro9"
                                        >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Producto 10</label>
                                        <input
                                          #pro10
                                          class="form-control"
                                          [value]="proveedorEditar.pro10"
                                        >
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Dirección</label>
                                        <input
                                          #d
                                          type="text"
                                          [value]="proveedorEditar.Direccion"
                                          class="form-control">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Descripcion</label>
                                        <input
                                          #des
                                          type="text"
                                          [value]="proveedorEditar.Descripcion"
                                          class="form-control">
                                      </div>

                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        (click)="edit(np, c, ne, d, des, pro1, pro2, pro3, pro4, pro5, pro6, pro7, pro8, pro9, pro10)"
                                        type="submit"
                                        class="btn btn-info waves-effect"
                                        data-dismiss="modal">Guardar</button>

                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </form>
                                </div>


                              </div>
                            </div>
                          </div>
                        </tr>
                      </tfoot>

                    <tfoot>

                </table>
              </div>


            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->


































    </div>
</div>

