<div class="page-wrapper">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor"> Aprobación Final del Menú</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú </a></li>
            <li class="breadcrumb-item">Aprobación Final</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><span class="label label-success">SÓLIDO</span> </td>
                          <td> {{ menu.ProductoSolidoInicial }} </td>
                          <td> {{ menu.FrecuenciaSolidoUtilizadoInicial }} </td>
                          <td> {{ menu.MontoSolildoUtilizadoInicial }} </td>
                          <td> {{ menu.frecuenciaSolidoInicialInicial }} </td>
                          <td> {{ menu.montoSolildoInicial }} </td>

                        </tr>
                        <tr>
                          <td><span class="label label-info">LÍQUIDO</span> </td>
                          <td> {{ menu.ProductoLiquidoInicial }} </td>
                          <td> {{ menu.FrecuenciaLiquidaUtilizadoInicial }} </td>
                          <td> {{ menu.MontoLiquidaUtilizadoInicial }} </td>
                          <td> {{ menu.frecuenciaLiquidaInicialInicial }} </td>
                          <td> {{ menu.montoLiquidaInicial }} </td>


                        </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                              <td> {{ menu.ProductoSolidoPrimaria }} </td>
                              <td> {{ menu.FrecuenciaSolidoUtilizadoPrimaria }} </td>
                              <td> {{ menu.MontoSolildoUtilizadoPrimaria }} </td>
                              <td> {{ menu.frecuenciaSolidoPrimariaInicial }} </td>
                              <td> {{ menu.montoSolidoPrimaria }} </td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                              <td> {{ menu.ProductoLiquidoPrimaria }} </td>
                              <td> {{ menu.FrecuenciaLiquidaUtilizadoPrimaria }} </td>
                              <td> {{ menu.MontoLiquidaUtilizadoPrimaria }} </td>
                              <td> {{ menu.frecuenciaLiquidaPrimariaInicial }} </td>
                              <td> {{ menu.montoLiquidaPrimaria }} </td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><span class="label label-success">SÓLIDO</span> </td>
                          <td> {{ menu.ProductoSolidoSegundaria }} </td>
                          <td> {{ menu.FrecuenciaSolidoUtilizadoSegundaria }} </td>
                          <td> {{ menu.MontoSolildoUtilizadaSegundaria }} </td>
                          <td> {{ menu.frecuenciaSolidoSegundariaInicial }} </td>
                          <td> {{ menu.montoSolildoSegundaria }} </td>

                        </tr>
                        <tr>
                          <td><span class="label label-info">LÍQUIDO</span> </td>
                          <td> {{ menu.ProductoLiquidoSegundaria }} </td>
                          <td> {{ menu.FrecuenciaLiquidaUtilizadoSegundaria }} </td>
                          <td> {{ menu.MontoLiquidaUtilizadoSegundaria }} </td>
                          <td> {{ menu.frecuenciaLiquidaSegundariaInicial }} </td>
                          <td> {{ menu.montoLiquidaSegundaria }} </td>

                        </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">

            <div class="card-body">

                <td >
                  &nbsp;  &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;

                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#RevisarMenu"  >Revisar Menú</button>
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ObservacionesFinal">Observaciones</button>
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;
                   <button
                     type="button"
                     class="btn btn-success"
                     data-toggle="modal"
                     data-target="#AprobacionFinal">Aprobación Final</button>
                </td>


            </div>
          </div>
        </div>
      </div>


      <tfoot>
        <tr>

            <div id="RevisarMenu" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea enviar las modificaciones del presente menú?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>
        <tr>

            <div id="AprobacionFinal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea aprobar el presente menú? <br> La aprobación del presente menú es definitiva. Se sugiere que lea correctamente la presente información.</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button
                        (click)="enviarMenuAprobado()"
                        type="button"
                        class="btn btn-secondary waves-effect"
                        data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>

        <tr>
          <div id="ObservacionesFinal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Observaciones Final Menú</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">

                  <form class="form-horizontal">
                    <div class="form-group row">
                      <div class="col-sm-9">
                        <textarea
                          #observaciones
                          class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="4"></textarea>
                      </div>
                    </div>

                    <div class="form-group m-b-0">
                      <div class="offset-sm-3 col-sm-9">
                        <button
                          (click)="agregarObservaciones(observaciones)"
                          type="button"
                          class="btn btn-secondary waves-effect"
                          data-dismiss="modal"  >Enviar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </form>





                    <!-- <div class="modal-footer">
                      <button

                        type="submit"
                        class="btn btn-info waves-effect"
                        data-dismiss="modal" >Guardar</button>
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button> -->
                   <!--  </div> -->
            <!--       </form>
                </div>


              </div>
            </div>
          </div>
        </tr> -->


     <!--  </tfoot> -->








       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

</div>
</div>

