<div class="page-wrapper">
    <div class="container-fluid">
      <br>
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor"> Aprobación Final del Menú</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú </a></li>
            <li class="breadcrumb-item">Aprobación Final</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->


         <!-- Inicio Listado Menus aprobados y no aprobados -->

         <div class="row">
           <div class="col-lg-6">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title">Listado de Menús Aprobados</h4>
                 <div class="table-responsive">
                   <table class="table table-hover">
                     <thead>
                     <tr>
                       <th>#</th>
                       <th>Código</th>
                       <th>Fecha</th>

                     </tr>
                     </thead>
                     <tbody>
                       <tr
                         (click)="listarMenuAprobado(menu._id, false, true)"
                         *ngFor="let menu of menusAprobados; let i = index;" >
                         <td> {{ i+1 }} </td>
                         <td> {{ menu.codigoGenerado }} </td>
                         <td> {{ convertDate(menu.createdAt) }} </td>

                       </tr>

                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>

          <div class="col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Listado de Menús No Aprobados</h4>
                      <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Código</th>
                                  <th>Fecha</th>

                              </tr>
                          </thead>
                          <tbody>
                          <tr
                            (click)="listarMenuNoAprobado(menu._id, true, false)"
                            *ngFor="let menu of menusNoAprobados; let i = index;" >
                            <td> {{ i+1 }} </td>
                            <td> {{ menu.codigoGenerado }} </td>
                            <td> {{ convertDate(menu.createdAt) }} </td>

                          </tr>
                          </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </div>





        <!-- Fin Listado Menus aprobados y no aprobados -->
         <!-- Inicio Menús  sin observaciones -->

      <div *ngIf="listaMenusAprobadosCard">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td><span class="label label-success">SÓLIDO</span> </td>
                            <td> {{ menuAprobado.ProductoSolidoInicial }} </td>
                            <td> {{ menuAprobado.FrecuenciaSolidoUtilizadoInicial }} </td>
                            <td> {{ menuAprobado.MontoSolildoUtilizadoInicial }} </td>
                            <td> {{ menuAprobado.frecuenciaSolidoInicialInicial }} </td>
                            <td> {{ menuAprobado.montoSolildoInicial }} </td>

                          </tr>
                          <tr>
                            <td><span class="label label-info">LÍQUIDO</span> </td>
                            <td> {{ menuAprobado.ProductoLiquidoInicial }} </td>
                            <td> {{ menuAprobado.FrecuenciaLiquidaUtilizadoInicial }} </td>
                            <td> {{ menuAprobado.MontoLiquidaUtilizadoInicial }} </td>
                            <td> {{ menuAprobado.frecuenciaLiquidaInicialInicial }} </td>
                            <td> {{ menuAprobado.montoLiquidaInicial }} </td>


                          </tr>

                          </tbody>
                      </table>
                  </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> {{ menuAprobado.ProductoSolidoPrimaria }} </td>
                                <td> {{ menuAprobado.FrecuenciaSolidoUtilizadoPrimaria }} </td>
                                <td> {{ menuAprobado.MontoSolildoUtilizadoPrimaria }} </td>
                                <td> {{ menuAprobado.frecuenciaSolidoPrimariaInicial }} </td>
                                <td> {{ menuAprobado.montoSolidoPrimaria }} </td>

                              </tr>
                              <tr>
                                  <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> {{ menuAprobado.ProductoLiquidoPrimaria }} </td>
                                <td> {{ menuAprobado.FrecuenciaLiquidaUtilizadoPrimaria }} </td>
                                <td> {{ menuAprobado.MontoLiquidaUtilizadoPrimaria }} </td>
                                <td> {{ menuAprobado.frecuenciaLiquidaPrimariaInicial }} </td>
                                <td> {{ menuAprobado.montoLiquidaPrimaria }} </td>


                              </tr>

                          </tbody>
                      </table>
                  </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td><span class="label label-success">SÓLIDO</span> </td>
                            <td> {{ menuAprobado.ProductoSolidoSegundaria }} </td>
                            <td> {{ menuAprobado.FrecuenciaSolidoUtilizadoSegundaria }} </td>
                            <td> {{ menuAprobado.MontoSolildoUtilizadaSegundaria }} </td>
                            <td> {{ menuAprobado.frecuenciaSolidoSegundariaInicial }} </td>
                            <td> {{ menuAprobado.montoSolildoSegundaria }} </td>

                          </tr>
                          <tr>
                            <td><span class="label label-info">LÍQUIDO</span> </td>
                            <td> {{ menuAprobado.ProductoLiquidoSegundaria }} </td>
                            <td> {{ menuAprobado.FrecuenciaLiquidaUtilizadoSegundaria }} </td>
                            <td> {{ menuAprobado.MontoLiquidaUtilizadoSegundaria }} </td>
                            <td> {{ menuAprobado.frecuenciaLiquidaSegundariaInicial }} </td>
                            <td> {{ menuAprobado.montoLiquidaSegundaria }} </td>

                          </tr>

                          </tbody>
                      </table>
                  </div>






              </div>
            </div>
          </div>
        </div>
      </div>




  <!-- Fin Menús  sin observaciones -->

  <!-- Inicio Menús Final -->

      <div *ngIf="listaMenusNoAprobadosCard">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Estado</th>
                      <th>Producto</th>
                      <th>Frecuencia Utilizada</th>
                      <th>Monto Utilizado(Bs.-)</th>
                      <th>Frecuencia Inicial</th>
                      <th>Monto Inicial(Bs.-)</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><span class="label label-success">SÓLIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoSolidoInicial }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaSolidoUtilizadoInicial }} </td>
                      <td> {{ menuNoAprobado.MontoSolildoUtilizadoInicial }} </td>
                      <td> {{ menuNoAprobado.frecuenciaSolidoInicialInicial }} </td>
                      <td> {{ menuNoAprobado.montoSolildoInicial }} </td>

                    </tr>
                    <tr>
                      <td><span class="label label-info">LÍQUIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoLiquidoInicial }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaLiquidaUtilizadoInicial }} </td>
                      <td> {{ menuNoAprobado.MontoLiquidaUtilizadoInicial }} </td>
                      <td> {{ menuNoAprobado.frecuenciaLiquidaInicialInicial }} </td>
                      <td> {{ menuNoAprobado.montoLiquidaInicial }} </td>


                    </tr>

                    </tbody>
                  </table>
                </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Estado</th>
                      <th>Producto</th>
                      <th>Frecuencia Utilizada</th>
                      <th>Monto Utilizado(Bs.-)</th>
                      <th>Frecuencia Inicial</th>
                      <th>Monto Inicial(Bs.-)</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><span class="label label-success">SÓLIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoSolidoPrimaria }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaSolidoUtilizadoPrimaria }} </td>
                      <td> {{ menuNoAprobado.MontoSolildoUtilizadoPrimaria }} </td>
                      <td> {{ menuNoAprobado.frecuenciaSolidoPrimariaInicial }} </td>
                      <td> {{ menuNoAprobado.montoSolidoPrimaria }} </td>

                    </tr>
                    <tr>
                      <td><span class="label label-info">LÍQUIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoLiquidoPrimaria }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaLiquidaUtilizadoPrimaria }} </td>
                      <td> {{ menuNoAprobado.MontoLiquidaUtilizadoPrimaria }} </td>
                      <td> {{ menuNoAprobado.frecuenciaLiquidaPrimariaInicial }} </td>
                      <td> {{ menuNoAprobado.montoLiquidaPrimaria }} </td>


                    </tr>

                    </tbody>
                  </table>
                </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-warning">
                <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
              </div>
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Estado</th>
                      <th>Producto</th>
                      <th>Frecuencia Utilizada</th>
                      <th>Monto Utilizado(Bs.-)</th>
                      <th>Frecuencia Inicial</th>
                      <th>Monto Inicial(Bs.-)</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><span class="label label-success">SÓLIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoSolidoSegundaria }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaSolidoUtilizadoSegundaria }} </td>
                      <td> {{ menuNoAprobado.MontoSolildoUtilizadaSegundaria }} </td>
                      <td> {{ menuNoAprobado.frecuenciaSolidoSegundariaInicial }} </td>
                      <td> {{ menuNoAprobado.montoSolildoSegundaria }} </td>

                    </tr>
                    <tr>
                      <td><span class="label label-info">LÍQUIDO</span> </td>
                      <td> {{ menuNoAprobado.ProductoLiquidoSegundaria }} </td>
                      <td> {{ menuNoAprobado.FrecuenciaLiquidaUtilizadoSegundaria }} </td>
                      <td> {{ menuNoAprobado.MontoLiquidaUtilizadoSegundaria }} </td>
                      <td> {{ menuNoAprobado.frecuenciaLiquidaSegundariaInicial }} </td>
                      <td> {{ menuNoAprobado.montoLiquidaSegundaria }} </td>

                    </tr>

                    </tbody>
                  </table>
                </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">

              <div class="card-body">



                <td >

                  <button
                    type="button"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#AprobacionFinal">Aprobación Final</button>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ObservacionesFinal">Observaciones</button>

                </td>


              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Fin Menús  Final -->
      <tfoot>
        <tr>

            <div id="AprobacionFinal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea aprobar el presente menú? <br> La aprobación del presente menú es definitiva. Se sugiere que lea correctamente la presente información.</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button
                        (click)="enviarMenuAprobado()"
                        type="button"
                        class="btn btn-secondary waves-effect"
                        data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>

        <tr>
          <div id="ObservacionesFinal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Observaciones Final Menú</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">

                  <form class="form-horizontal">
                    <div class="form-group row">
                      <div class="col-sm-9">
                        <textarea
                          #observaciones
                          class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="4"></textarea>
                      </div>
                    </div>

                    <div class="form-group m-b-0">
                      <div class="offset-sm-3 col-sm-9">
                        <button
                          (click)="agregarObservaciones(observaciones)"
                          type="button"
                          class="btn btn-secondary waves-effect"
                          data-dismiss="modal"  >Enviar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </form>





                    <!-- <div class="modal-footer">
                      <button

                        type="submit"
                        class="btn btn-info waves-effect"
                        data-dismiss="modal" >Guardar</button>
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button> -->
                   <!--  </div> -->
            <!--       </form>
                </div>


              </div>
            </div>
          </div>
        </tr> -->


     <!--  </tfoot> -->








       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

</div>
</div>

