<div class="page-wrapper">

    <div class="container-fluid">
<br>
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Datos Eliminados Productos</h3>
        </div>

        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Datos Eliminados</a>
            </li>
            <li class="breadcrumb-item">Productos</li>

          </ol>
        </div>

        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle">Los presentes datos eliminados de Productos están disponibles para ser habilitados </h6>


              <!-- Inicio Tabla -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Nombre de Producto</th>
                        <th>Código</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>

                        </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let producto of productosEliminados; let i = index;" >
                          <td>{{ producto.NombreProducto }}</td>
                          <td>{{ producto.CodigoProducto }}</td>
                          <td>{{ producto.PrecioProducto }}</td>
                          <td>{{ producto.CantidadProducto }}</td>
                          <td>{{ producto.Descripcion }}</td>


                        <td >
                          <button
                            (click)="botonHabilitar(i)"
                            type="button"
                            class="btn btn-warning btn-rounded"
                            data-toggle="modal"
                            data-target="#habilitar5"  >Habilitar</button>

                        </td>
                    </tr>
                    <br> <br> <br> <br>


                    </tbody>
                    <tfoot>

                        <div id="habilitar5" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea habilitar este producto?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              </div>

                              <div class="modal-footer">
                                <button
                                  (click)="habilitar()"
                                  type="button"
                                  class="btn btn-warning btn-rounded"
                                  data-dismiss="modal">Habilitar</button>
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>

                          </div>
                        </div>
                     </tfoot>





                </table>




      </div>


    <footer class="footer"> © 2020 Sidace GAMLP </footer>




