<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Crear Unidad Educativa</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Unidad Educativa</a></li>
                <li class="breadcrumb-item">Crear</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>

         <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header bg-info">
                  <h4 class="m-b-0 text-white">Formulario de Registro</h4>
                </div>
                <div class="card-body">
                    <form
                      (ngSubmit)="crear(f)"
                      #f="ngForm"
                      class="form-horizontal form-bordered">

                        <div class="form-body">


  <!--    <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre del colegio</label>
                            <div class="col-md-9">
                              <input
                                name="NombreColegio"
                                [(ngModel)]="unidadEducativa.NombreColegio"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el nombre completo de la unidad educativa </small>
                            </div>
                          </div>
                        
                        
                                      
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Código</label>
                            <div class="col-md-9">
                              <input
                                name="CodColegio"
                                [(ngModel)]="unidadEducativa.CodColegio"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el código </small>
                            </div>
                          </div>

                        
                        -->

                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Nombre del colegio</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="unidadEducativa.NombreColegio" #NombreColegio="ngModel" type="text"
                                name="NombreColegio" id="NombreColegio" placeholder="NombreColegio" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <small class="form-control-feedback"> Ingrese el nombre completo de la unidad educativa </small>
                                <div *ngIf="NombreColegio.touched && !NombreColegio.valid">
                                  <div *ngIf="NombreColegio.errors.required">Nombre del Colegio es requerido</div>
                                  <div *ngIf="NombreColegio.errors.minlength">Insertar al menos {{NombreColegio.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div>


           




                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Código</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="unidadEducativa.CodColegio" #CodColegio="ngModel" type="text"
                                name="CodColegio" id="CodColegio" placeholder="CodColegio" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <small class="form-control-feedback"> Ingrese el código </small>
                                <div *ngIf="CodColegio.touched && !CodColegio.valid">
                                  <div *ngIf="CodColegio.errors.required">Código requerido</div>
                                  <div *ngIf="CodColegio.errors.minlength">Insertar al menos {{CodColegio.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div>







                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Nombre del colegio</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="unidadEducativa.NombreColegio" #NombreColegio="ngModel" type="text"
                                name="NombreColegio" id="NombreColegio" placeholder="NombreColegio" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <small class="form-control-feedback"> Ingrese el nombre completo de la unidad educativa </small>
                                <div *ngIf="NombreColegio.touched && !NombreColegio.valid">
                                  <div *ngIf="NombreColegio.errors.required">Nombre del Colegio es requerido</div>
                                  <div *ngIf="NombreColegio.errors.minlength">Insertar al menos {{NombreColegio.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nivel</label>
                            <div class="col-md-9">

                              <div class="demo-checkbox">

                                <input type="checkbox" id="md_checkbox_inicial" class="filled-in chk-col-blue" />
                                <label for="md_checkbox_inicial">Inicial</label>
                                <input type="checkbox" id="md_checkbox_primaria" class="filled-in chk-col-blue"  />
                                <label for="md_checkbox_primaria">Primaria</label>
                                 <input type="checkbox" id="md_checkbox_secundaria" class="filled-in chk-col-blue" />
                                <label for="md_checkbox_secundaria">Secundaria</label>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Turno</label>
                            <div class="col-md-9">
                              <input
                                name="Turno"
                                [(ngModel)]="unidadEducativa.Turno"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback">Turno del colegio</small>
                            </div>
                          </div>

  <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Ruta</label>
                            <div class="col-md-9">
                              <input
                                name="Ruta"
                                [(ngModel)]="unidadEducativa.Ruta"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese la ruta del colegio</small>
                            </div>
                          </div>


                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Número de estudiantes Inicial</label>
                            <div class="col-md-9">
                              <input
                                name="CantidadAlumnosInicial"
                                [(ngModel)]="unidadEducativa.CantidadAlumnosInicial"
                                type="number"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el número de estudiantes nivel inicial de la unidad educativa, si no tiene nivel inicial coloque el valor 0</small>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Número de estudiantes Primaria</label>
                            <div class="col-md-9">
                              <input
                                name="CantidadAlumnosPrimaria"
                                [(ngModel)]="unidadEducativa.CantidadAlumnosPrimaria"
                                type="number"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el número de estudiantes  nivel primaria de la unidad educativa, si no tiene nivel primaria coloque el valor 0</small>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Número de estudiantes Secundaria</label>
                            <div class="col-md-9">
                              <input
                                name="CantidadAlumnosSegundaria"
                                [(ngModel)]="unidadEducativa.CantidadAlumnosSegundaria"
                                type="number"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el número de estudiantes nivel secundaria de la unidad educativa, si no tiene nivel secundaria coloque el valor 0</small>
                            </div>
                          </div>



                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Director del establecimiento</label>
                            <div class="col-md-9">
                              <input
                                name="Encargado"
                                [(ngModel)]="unidadEducativa.Encargado"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el nombre completo del director de la unidad educativa </small>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Direccion</label>
                            <div class="col-md-9">
                              <input
                                name="Direccion"
                                [(ngModel)]="unidadEducativa.Direccion"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese la direccion de la unidad educativa</small>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Teléfono de Referencia</label>
                            <div class="col-md-9">
                              <input
                                name="Telefono"
                                [(ngModel)]="unidadEducativa.Telefono"
                                type="text"
                                class="form-control">
                              <small class="form-control-feedback"> Ingrese el telefono de la unidad educativa</small>
                            </div>
                          </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
             </div>
        </div>
         <!-- ============================================================== -->
                    <!-- End Page Content -->
         <!-- ============================================================== -->
    </div>
</div>
