<div class="page-wrapper">
  <div class="container-fluid">

    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Usuarios</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Usuarios</a></li>
          <li class="breadcrumb-item">Roles</li>

        </ol>
      </div>
      <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->

    <ol class="breadcrumb bc-colored m-b-30 bg-warning">
      ROLES DISPONIBLES
    </ol>

    <div class="row">
      <div class="col-12 m-t-30"></div>

      <div class="col-md-6">
        <div class="card card-outline-inverse">

          <div class="card-body">
            <h3 class="card-title">Rol 1</h3>
            <p class="card-text">Permisos activados</p>
            <input type="checkbox" id="md_checkbox_01" class="filled-in chk-col-red" checked />
            <label for="md_checkbox_01">Permiso 1   </label>
            <input type="checkbox" id="md_checkbox_02" class="filled-in chk-col-pink" checked />
            <label for="md_checkbox_02">Permiso 2</label>
            <input type="checkbox" id="md_checkbox_03" class="filled-in chk-col-purple" checked />
            <label for="md_checkbox_03">Permiso 3</label>
            <input type="checkbox" id="md_checkbox_04" class="filled-in chk-col-deep-purple" checked />
            <label for="md_checkbox_04">Permiso 4</label>
            <input type="checkbox" id="md_checkbox_05" class="filled-in chk-col-indigo" checked />
            <label for="md_checkbox_05">Permiso 5</label>
            <input type="checkbox" id="md_checkbox_06" class="filled-in chk-col-blue" checked />
            <label for="md_checkbox_06">Permiso 6</label>
            <input type="checkbox" id="md_checkbox_07" class="filled-in chk-col-light-blue" checked />
            <label for="md_checkbox_07">Permiso 7</label>
            <input type="checkbox" id="md_checkbox_08" class="filled-in chk-col-cyan" checked />
            <label for="md_checkbox_08">Permiso 8</label>
            <input type="checkbox" id="md_checkbox_09" class="filled-in chk-col-teal" checked />
            <label for="md_checkbox_09">Permiso 9</label>
            <input type="checkbox" id="md_checkbox_10" class="filled-in chk-col-green" checked />
            <label for="md_checkbox_10">Permiso 10</label>
            <input type="checkbox" id="md_checkbox_11" class="filled-in chk-col-light-green" checked />
            <label for="md_checkbox_11">Permiso 11</label>
            <input type="checkbox" id="md_checkbox_12" class="filled-in chk-col-lime" checked />
            <label for="md_checkbox_12">Permiso 12</label>
            <input type="checkbox" id="md_checkbox_13" class="filled-in chk-col-yellow" checked />
            <label for="md_checkbox_13">Permiso 13</label>
            <input type="checkbox" id="md_checkbox_14" class="filled-in chk-col-amber" checked />
            <label for="md_checkbox_14">Permiso 14</label>

            <td colspan="2">
              <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="Editar">Editar</button>
            </td>
            <td colspan="3">
              <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#desactivar">Desactivar</button>
            </td>
            <div id="desactivar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea desactivar este usuario?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Si</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">No</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-outline-info">

          <div class="card-body">
            <h3 class="card-title">Rol 2 </h3>
            <p class="card-text">Permisos Activados</p>
            <input type="checkbox" id="md_checkbox_15" class="filled-in chk-col-red" checked />
            <label for="md_checkbox_15">Permiso 1   </label>
            <input type="checkbox" id="md_checkbox_16" class="filled-in chk-col-pink" checked />
            <label for="md_checkbox_16">Permiso 2</label>
            <input type="checkbox" id="md_checkbox_17" class="filled-in chk-col-purple" checked />
            <label for="md_checkbox_17">Permiso 3</label>
            <input type="checkbox" id="md_checkbox_18" class="filled-in chk-col-deep-purple" checked />
            <label for="md_checkbox_18">Permiso 4</label>
            <input type="checkbox" id="md_checkbox_19" class="filled-in chk-col-indigo" checked />
            <label for="md_checkbox_19">Permiso 5</label>
            <input type="checkbox" id="md_checkbox_20" class="filled-in chk-col-blue" checked />
            <label for="md_checkbox_20">Permiso 6</label>
            <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-light-blue" checked />
            <label for="md_checkbox_21">Permiso 7</label>
            <input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-cyan" checked />
            <label for="md_checkbox_22">Permiso 8</label>
            <input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-teal" checked />
            <label for="md_checkbox_23">Permiso 9</label>
            <input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-green" checked />
            <label for="md_checkbox_24">Permiso 10</label>
            <input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-light-green" checked />
            <label for="md_checkbox_25">Permiso 11</label>
            <input type="checkbox" id="md_checkbox_26" class="filled-in chk-col-lime" checked />
            <label for="md_checkbox_26">Permiso 12</label>
            <input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-yellow" checked />
            <label for="md_checkbox_27">Permiso 13</label>
            <input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-amber" checked />
            <label for="md_checkbox_28">Permiso 14</label>

            <td colspan="2">
              <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="Editar">Editar</button>
            </td>
            <td colspan="3">
              <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#desactivar">Desactivar</button>
            </td>
            <div id="desactivar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea desactivar este usuario?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Si</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">No</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->

    <ol class="breadcrumb bc-colored m-b-30 bg-warning">
      <li class="breadcrumb-item">CREAR NUEVO ROL</li>
    </ol>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">


            <form class="form-horizontal form-material">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre del rol">
              </div>

              <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-red" checked />
              <label for="md_checkbox_21">Permiso 1   </label>
              <input type="checkbox" id="md_checkbox_85" class="filled-in chk-col-pink" checked />
              <label for="md_checkbox_85">Permiso 2</label>
              <input type="checkbox" id="md_checkbox_86" class="filled-in chk-col-purple" checked />
              <label for="md_checkbox_86">Permiso 3</label>
              <input type="checkbox" id="md_checkbox_87" class="filled-in chk-col-deep-purple" checked />
              <label for="md_checkbox_87">Permiso 4</label>
              <input type="checkbox" id="md_checkbox_88" class="filled-in chk-col-indigo" checked />
              <label for="md_checkbox_88">Permiso 5</label>
              <input type="checkbox" id="md_checkbox_89" class="filled-in chk-col-blue" checked />
              <label for="md_checkbox_89">Permiso 6</label>
              <input type="checkbox" id="md_checkbox_90" class="filled-in chk-col-light-blue" checked />
              <label for="md_checkbox_90">Permiso 7</label>
              <input type="checkbox" id="md_checkbox_91" class="filled-in chk-col-cyan" checked />
              <label for="md_checkbox_91">Permiso 8</label>
              <input type="checkbox" id="md_checkbox_92" class="filled-in chk-col-teal" checked />
              <label for="md_checkbox_92">Permiso 9</label>
              <input type="checkbox" id="md_checkbox_93" class="filled-in chk-col-green" checked />
              <label for="md_checkbox_93">Permiso 10</label>
              <input type="checkbox" id="md_checkbox_94" class="filled-in chk-col-light-green" checked />
              <label for="md_checkbox_94">Permiso 11</label>
              <input type="checkbox" id="md_checkbox_95" class="filled-in chk-col-lime" checked />
              <label for="md_checkbox_95">Permiso 12</label>
              <input type="checkbox" id="md_checkbox_96" class="filled-in chk-col-yellow" checked />
              <label for="md_checkbox_96">Permiso 13</label>
              <input type="checkbox" id="md_checkbox_97" class="filled-in chk-col-amber" checked />
              <label for="md_checkbox_97">Permiso 14</label>
              <div class="modal-footer">
                <td colspan="2">
                  <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="Crear">Crear</button>
                </td>


              </div>
            </form>


          </div>
          <!-- Row -->

        </div>
      </div>
    </div>

  </div>
</div>
