<div class="page-wrapper">
  <div class="container-fluid">

   <div class="row page-titles">
     <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Usuarios</h3>
     </div>
     <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Usuarios</a></li>
        <li class="breadcrumb-item">Roles y Permisos</li>

      </ol>
     </div>
     <div class="">
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
     </div>
   </div>
   <!-----------------Tabla Principal --------------->

   <div class="col-lg-8 col-xlg-9 col-md-7">
   <div class="card">

   <ul class="nav nav-tabs profile-tab" role="tablist">
    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#rol1" role="tab">Rol 1</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol2" role="tab">Rol 2</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol3" role="tab">Rol 3</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol4" role="tab">Rol 4</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol5" role="tab">Rol 5</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol6" role="tab">Rol 6</a> </li>
    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rol7" role="tab">Rol 7</a> </li>
   </ul>
   <div class="tab-content">

   <!---------------Rol 1---------------->
   <div class="tab-pane active" id="rol1" role="tabpanel">
    <div class="card-body">
    <h4 class="card-title">Datos Referenciales</h4>

    <div class="table">
    <table class="table color-table warning-table">
         <thead>
         <tr>

           <th>Nombre del Rol</th>
           <th>Descripción</th>
           <th>Permisos</th>
         </tr>
        </thead>
        <tbody>
         <tr>

         <td>Funcionario Root</td>
         <td>El funcionario Root se encarga de la aprobación de menú y reportes</td>
         <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
         </tr>

         </tbody>
    </table>

     </div>
     <h4 class="card-title">Usuarios Asignados</h4>

     <div class="table-responsive">
         <table class="table color-bordered-table warning-bordered-table">
             <thead>
                 <tr>
                     <th>#</th>
                     <th>Nombre Completo</th>
                     <th>Correo</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>1</td>
                     <td>Luis Mendez</td>
                     <td>lmendez@gmail.com</td>
                 </tr>
                 <tr>
                     <td>2</td>
                     <td>Maria Caceres</td>
                     <td>cloma@gmail.com</td>
                 </tr>
                 <tr>
                     <td>3</td>
                     <td>Dylan Lino</td>
                     <td>drilan@gmail.com</td>
                 </tr>
             </tbody>
         </table>
     </div>


    </div>
    </div>
   <!---------------Fin Rol 1---------------->

   <!---------------Rol 2------------------>
   <div class="tab-pane" id="rol2" role="tabpanel">
    <div class="card-body">
    <h4 class="card-title">Datos Referenciales</h4>

    <div class="table">
    <table class="table color-table warning-table">
         <thead>
         <tr>

           <th>Nombre del Rol</th>
           <th>Descripción</th>
           <th>Permisos</th>
         </tr>
        </thead>
        <tbody>
         <tr>

         <td>Administrativo</td>
         <td>El rol administrativo de acceder a reportes,reasignar montos, raciones o productos</td>
         <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
         </tr>

         </tbody>
    </table>
     </div>
     <h4 class="card-title">Usuarios Asignados</h4>

     <div class="table-responsive">
         <table class="table color-bordered-table warning-bordered-table">
             <thead>
                 <tr>
                     <th>#</th>
                     <th>Nombre Completo</th>
                      <th>Correo</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>1</td>
                     <td>Daniela Morales</td>

                     <td>lmendez@gmail.com</td>
                 </tr>
                 <tr>
                     <td>2</td>
                     <td>Yulisa Caceres</td>

                     <td>cloma@gmail.com</td>
                 </tr>
                 <tr>
                     <td>3</td>
                     <td>Alain Rastrejo</td>

                     <td>drilan@gmail.com</td>
                 </tr>
             </tbody>
         </table>
     </div>


    </div>
    </div>

    <!---------------Fin Rol 2------------------>
    <!-----------------Rol 3------------------->
    <div class="tab-pane" id="rol3" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title">Datos Referenciales</h4>

      <div class="table">
      <table class="table color-table warning-table">
           <thead>
           <tr>

             <th>Nombre del Rol</th>
             <th>Descripción</th>
             <th>Permisos</th>
           </tr>
          </thead>
          <tbody>
           <tr>

           <td>Técnico UNACE</td>
           <td>El técnico Unace está  encargado de realizar la elaboración de menús</td>
           <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
           </tr>

           </tbody>
      </table>
       </div>
       <h4 class="card-title">Usuarios Asignados</h4>

       <div class="table-responsive">
           <table class="table color-bordered-table warning-bordered-table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Nombre Completo</th>

                       <th>Correo</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Raul Mileno</td>

                       <td>lmendez@gmail.com</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td>Yulisa Santos</td>

                       <td>cloma@gmail.com</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Alan Santivañez</td>

                       <td>drilan@gmail.com</td>
                   </tr>
               </tbody>
           </table>
       </div>


      </div>
      </div>
    <!---------------Fin Rol 3------------------>
    <!-----------------Rol 4------------------->
    <div class="tab-pane" id="rol4" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title">Datos Referenciales</h4>

      <div class="table">
      <table class="table color-table warning-table">
           <thead>
           <tr>

             <th>Nombre del Rol</th>
             <th>Descripción</th>
             <th>Permisos</th>
           </tr>
          </thead>
          <tbody>
           <tr>

           <td>Técnico EVA</td>
           <td>El técnico EVA es el encargado de aprobar,modificar menús y asignar por rutas  la entrada de productos,asignación de empresas y lotes</td>
           <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
           </tr>

           </tbody>
      </table>
       </div>
       <h4 class="card-title">Usuarios Asignados</h4>

       <div class="table-responsive">
           <table class="table color-bordered-table warning-bordered-table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Nombre Completo</th>

                       <th>Correo</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Sheldon Cooper</td>

                       <td>lmendez@gmail.com</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td>Fernanda Lopez</td>

                       <td>cloma@gmail.com</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Sol Marino</td>

                       <td>drilan@gmail.com</td>
                   </tr>
               </tbody>
           </table>
       </div>


      </div>
      </div>
    <!---------------Fin Rol 4------------------>
    <!-----------------Rol 5------------------->
    <div class="tab-pane" id="rol5" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title">Datos Referenciales</h4>

      <div class="table">
      <table class="table color-table warning-table">
           <thead>
           <tr>

             <th>Nombre del Rol</th>
             <th>Descripción</th>
             <th>Permisos</th>
           </tr>
          </thead>
          <tbody>
           <tr>

           <td>Técnico de Transporte</td>
           <td>Encargado de vista por menú y acceso a rutas.</td>
           <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
           </tr>

           </tbody>
      </table>
       </div>
       <h4 class="card-title">Usuarios Asignados</h4>

       <div class="table-responsive">
           <table class="table color-bordered-table warning-bordered-table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Nombre Completo</th>

                       <th>Correo</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Willy Loreto</td>

                       <td>lmendez@gmail.com</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td>Yulisa Marin</td>

                       <td>cloma@gmail.com</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Gabriel Loza </td>
                       <td>drilan@gmail.com</td>
                   </tr>
               </tbody>
           </table>
       </div>


      </div>
      </div>
    <!---------------Fin Rol 5------------------>
    <!-----------------Rol 6------------------->
    <div class="tab-pane" id="rol6" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title">Datos Referenciales</h4>

      <div class="table">
      <table class="table color-table warning-table">
           <thead>
           <tr>

             <th>Nombre del Rol</th>
             <th>Descripción</th>
             <th>Permisos</th>
           </tr>
          </thead>
          <tbody>
           <tr>

           <td>Usuario Siremo</td>
           <td>Encargado de realizar el control de Ph, obervaciones y firma.</td>
           <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
           </tr>

           </tbody>
      </table>
       </div>
       <h4 class="card-title">Usuarios Asignados</h4>

       <div class="table-responsive">
           <table class="table color-bordered-table warning-bordered-table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Nombre Completo</th>

                       <th>Correo</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Daniela Marino</td>

                       <td>lmendez@gmail.com</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td>Ulises Dolaman</td>
                       <td>cloma@gmail.com</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Tatiana Morales</td>

                       <td>drilan@gmail.com</td>
                   </tr>
               </tbody>
           </table>
       </div>


      </div>
      </div>
    <!---------------Fin Rol 6------------------>
    <!-----------------Rol 7------------------->
    <div class="tab-pane" id="rol7" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title">Datos Referenciales</h4>

      <div class="table">
      <table class="table color-table warning-table">
           <thead>
           <tr>

             <th>Nombre del Rol</th>
             <th>Descripción</th>
             <th>Permisos</th>
           </tr>
          </thead>
          <tbody>
           <tr>

           <td>Usuario Unidad Educativa</td>
           <td>El usuario Unidad Educativa se encarga del envio del Menú</td>
           <td>Permiso 1, permiso 2, permiso 3, permiso 4,</td>
           </tr>

           </tbody>
      </table>
       </div>
       <h4 class="card-title">Usuarios Asignados</h4>

       <div class="table-responsive">
           <table class="table color-bordered-table warning-bordered-table">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Nombre Completo</th>

                       <th>Correo</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>William Vargas</td>

                       <td>lmendez@gmail.com</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td>Isabela Nina</td>

                       <td>cloma@gmail.com</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td>Elena Xiona</td>

                       <td>drilan@gmail.com</td>
                   </tr>
               </tbody>
           </table>
       </div>


      </div>
      </div>
    <!---------------Fin Rol 7------------------>





















   </div>




   </div>
   </div>




   <!-----------------Fin Tabla Principal --------------->



















  </div>
</div>
