<div class="page-wrapper">
  <div class="container-fluid">

    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Usuarios</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Usuarios</a></li>
          <li class="breadcrumb-item">Roles</li>

        </ol>
      </div>
      <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->




    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">





          </div>

          <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- .left-right-aside-column-->
                    <div class="contact-page-aside">

                        <div class="right-aside ">
                            <div class="right-page-header">
                                <div class="d-flex">
                                    <div class="align-self-center">
                                        <h4 class="card-title m-t-10">Roles </h4></div>

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nombre </th>
                                            <th>Descripción</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                      <!-- ============== inicio rol 1 ============== -->
                                        <tr *ngFor="let rol of roles; let i = index" >
                                            <td> {{ i+1 }} </td>
                                            <td>
                                                <a> {{ rol.NombreRol }} </a>
                                            </td>
                                            <td> {{ rol.Description }} </td>
                                            <td colspan="2">
                                              <button
                                                (click)="editarRol(i)"
                                                type="button"
                                                class="btn btn-info btn-rounded"
                                                data-toggle="modal"
                                                data-target="#editar">Editar</button>
                                            </td>
                                            <td colspan="3">
                                              <button
                                                (click)="desactivarRol(i)"
                                                type="button"
                                                class="btn btn-info btn-danger"
                                                data-toggle="modal"
                                                data-target="#desactivar">Desactivar</button>
                                            </td>
                                            <div id="desactivar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea desactivar este usuario?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                  </div>

                                                  <div class="modal-footer">
                                                    <button
                                                      (click)="confirmarDesactivar()"
                                                      type="button"
                                                      class="btn btn-danger waves-effect"
                                                      data-dismiss="modal">Si</button>
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">No</button>
                                                  </div>
                                                </div>

                                              </div>
                                            </div>
                                            <div id="editar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Edición Rol 1</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                  </div>

                                                  <div class="form-group">

                                                    <label class="control-label">Nombre del rol</label>
                                                    <input
                                                      #roll
                                                      [value]="editRol.NombreRol"
                                                      name="Nombre del rol"
                                                      type="text"
                                                      class="form-control"
                                                      autocomplete="off">

                                                    <label class="control-label">Descripcion</label>
                                                    <input
                                                      #descripcion
                                                      [value]="editRol.Description"
                                                      name="Nombre del rol"
                                                      type="text"
                                                      class="form-control"
                                                      autocomplete="off">

                                                    <label class="control-label">Permisos</label>

                                                    <div class="switch" *ngFor="let perm of permisosEditRol; let i = index " >
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;

                                                      <label>
                                                        <input type="checkbox" [checked]=" perm['estado'] " (change)="isSelectedEdit(i)" >
                                                        <span class="lever switch-col-yellow"></span>
                                                        {{ perm['nombre'] }}
                                                      </label>
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;
                                                      &nbsp;

                                                    </div>

                                                  </div>

                                                  <div class="modal-footer">
                                                    <button
                                                      (click)="guardarEditRol(roll, descripcion )"
                                                      type="button"
                                                      class="btn btn-info waves-effect"
                                                      data-dismiss="modal"
                                                    >Guardar</button>
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                                  </div>

                                                </div>

                                              </div>
                                            </div>



                                        </tr>
                                        <!-- ============== Fin rol 1 ============== -->



                                    </tbody>



                                   <!-- ============== Inicio crear nuevo rol ============== -->
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Crear nuevo rol</button>
                                            </td>
                                            <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Crear nuevo Rol</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <label class="control-label">Nombre del rol</label>
                                                          <input
                                                            #nombreRol
                                                            name="Nombre del rol"
                                                            type="text"
                                                            class="form-control"
                                                            autocomplete="off">
                                                          <label class="control-label">Descripcion</label>
                                                          <input
                                                            #descripcionRol
                                                            name="Nombre del rol"
                                                            type="text"
                                                            class="form-control"
                                                            autocomplete="off">
                                                           <div class="form-group">
                                                                      <div class="switch" *ngFor="let permiso of permisos; let i = index " >
                                                                       &nbsp;
                                                                       &nbsp;
                                                                       &nbsp;
                                                                       &nbsp;

                                                                          <label>
                                                                            <input type="checkbox" [checked]=" permiso['estado'] " (change)="isSelected( i )" >
                                                                            <span class="lever switch-col-yellow"></span>
                                                                            {{ permiso['nombre'] }}
                                                                          </label>
                                                                              &nbsp;
                                                                              &nbsp;
                                                                              &nbsp;
                                                                              &nbsp;
                                                                              &nbsp;
                                                                              &nbsp;

                                                                      </div>
                                                                </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button
                                                              (click)="crearRol(nombreRol, descripcionRol)"
                                                              type="button"
                                                              class="btn btn-info waves-effect"
                                                              data-dismiss="modal">Crear</button>
                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <td colspan="7">
                                                <div class="text-right">
                                                    <ul class="pagination"> </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                <!-- ============== Fin crear nuevo rol ============== -->
                               </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>



<!-- Row -->



</div>
</div>
</div>

  </div>
</div>
