<div class="page-wrapper">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor"> Aprobación Menú Funcionario EBA</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú </a></li>
            <li class="breadcrumb-item">Elaboración</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> Producto Sólido 1</td>

                                <td>49</td>
                                <td>39000</td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> Producto Liquido 5          </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td>

                                     Producto 45
                                </td>
                                <td>49</td>
                                <td>39000</td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td>

                                    Producto 56


                                </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td>
                                    Producto 45

                                </td>
                                <td>49</td>
                                <td>39000</td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td>

                                   Producto 67


                                </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">

            <div class="card-body">

                <td >
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;

                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AprobarMenuEBA"  >Aprobar Menú</button>
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                   <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ObservacionesEBA">Observaciones</button>
                </td>


            </div>
          </div>
        </div>
      </div>


      <tfoot>
        <tr>

            <div id="AprobarMenuEBA" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea aprobar el presente menú?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>

        <tr>
          <div id="ObservacionesEBA" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Observaciones Menú</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">

                  <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="solidoinicial" class="col-sm-3 text-right control-label col-form-label text-info">Sólido Nivel Inicial </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="solidoinicial" placeholder="Ingresar observación">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="liquidoinicial" class="col-sm-3 text-right control-label col-form-label text-info">Líquido Nivel Inicial</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="liquidoinicial" placeholder="Ingresar observación">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="solidoprimaria" class="col-sm-3 text-right control-label col-form-label text-info">Sólido Nivel Primaria</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="solidoprimaria" placeholder="Ingresar observación">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="liquidoprimaria" class="col-sm-3 text-right control-label col-form-label text-info">Líquido Nivel Primaria</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="liquidoprimaria" placeholder="Ingresar observación">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="solidosecundaria" class="col-sm-3 text-right control-label col-form-label text-info">Sólido Nivel Secundaria</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="solidosecundaria" placeholder="Ingresar observación">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="liquidosecundaria" class="col-sm-3 text-right control-label col-form-label text-info">Líquido Nivel Secundaria</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="liquidosecundaria" placeholder="Ingresar observación">
                      </div>
                  </div>

                    <div class="form-group m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                           <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Enviar</button>

                            &nbsp;  &nbsp;   &nbsp;   &nbsp;
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>





                    <!-- <div class="modal-footer">
                      <button

                        type="submit"
                        class="btn btn-info waves-effect"
                        data-dismiss="modal" >Guardar</button>
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button> -->
                   <!--  </div> -->
            <!--       </form>
                </div>


              </div>
            </div>
          </div>
        </tr> -->


     <!--  </tfoot> -->








       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

</div>
</div>
