<div class="page-wrapper">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor"> Aprobación Menú Funcionario EBA</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú </a></li>
            <li class="breadcrumb-item">Elaboración</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->


      <!-- Inicio Listado Menus aprobados y no aprobados -->

       <div class="row">
         <div class="col-lg-6">
           <div class="card">
             <div class="card-body">
               <h4 class="card-title">Listado de menus aprobados</h4>
               <div class="table-responsive">
                 <table class="table table-hover">
                   <thead>
                   <tr>
                     <th>#</th>
                     <th>Código</th>
                     <th>Fecha</th>

                   </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td> 1 </td>
                       <td> codigo </td>
                       <td> fecha </td>
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-6">
           <div class="card">
             <div class="card-body">
               <h4 class="card-title">Listado de Menús No Aprobados</h4>
               <div class="table-responsive">
                 <table class="table table-hover">
                   <thead>
                   <tr>
                     <th>#</th>
                     <th>Código</th>
                     <th>Fecha</th>

                   </tr>
                   </thead>
                   <tbody>
                    <tr
                      (click)="listarMenuNoAprobado(menu._id, true, false)"
                      *ngFor="let menu of listarMenusEnviadosAEba; let i = index;" >
                      <td> {{ i+1 }} </td>
                      <td> {{ menu.codigoGenerado }} </td>
                      <td> {{ convertDate(menu.createdAt) }} </td>
                    </tr>
                   </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>
       </div>





      <!-- Fin Listado Menus aprobados y no aprobados -->

       <!-- Inicio Menús  sin observaciones -->
      <div *ngIf="menuAprobado" >
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><span class="label label-success">SÓLIDO</span> </td>
                                  <td> ProductoSolidoInicial </td>
                                  <td> FrecuenciaSolidoUtilizadoInicial </td>
                                  <td> MontoSolildoUtilizadoInicial </td>
                                  <td> frecuenciaSolidoInicialInicial </td>
                                  <td> montoSolildoInicial </td>

                              </tr>
                              <tr>
                                  <td><span class="label label-info">LÍQUIDO</span> </td>
                                  <td> roductoLiquidoInicial </td>
                                  <td> recuenciaLiquidaUtilizadoInicial </td>
                                  <td> ontoLiquidaUtilizadoInicial </td>
                                  <td> recuenciaLiquidaInicialInicial </td>
                                  <td> ontoLiquidaInicial </td>


                              </tr>

                          </tbody>
                      </table>
                  </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> ProductoSolidoPrimaria </td>
                                <td> FrecuenciaSolidoUtilizadoPrimaria </td>
                                <td> MontoSolildoUtilizadoPrimaria </td>
                                <td> frecuenciaSolidoPrimariaInicial </td>
                                <td> montoSolidoPrimaria </td>

                              </tr>
                              <tr>
                                  <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> ProductoLiquidoPrimaria </td>
                                <td> FrecuenciaLiquidaUtilizadoPrimaria </td>
                                <td> MontoLiquidaUtilizadoPrimaria </td>
                                <td> frecuenciaLiquidaPrimariaInicial </td>
                                <td> montoLiquidaPrimaria </td>


                              </tr>

                          </tbody>
                      </table>
                  </div>






              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> ProductoSolidoSegundaria </td>
                                <td> FrecuenciaSolidoUtilizadoSegundaria </td>
                                <td> MontoSolildoUtilizadaSegundaria </td>
                                <td> frecuenciaSolidoSegundariaInicial </td>
                                <td> montoSolildoSegundaria </td>

                              </tr>
                              <tr>
                                  <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> ProductoLiquidoSegundaria </td>
                                <td> FrecuenciaLiquidaUtilizadoSegundaria </td>
                                <td> MontoLiquidaUtilizadoSegundaria </td>
                                <td> frecuenciaLiquidaSegundariaInicial </td>
                                <td> montoLiquidaSegundaria </td>

                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">

              <div class="card-body">
                <tr>
                  <td><h5>Observaciones Jefe/a Unace:</h5></td>
                  <td> Se sugiere que se cambio el producto 1 por el producto 5 por que es más saludable.</td>
                </tr>

                <td >
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AprobarMenuEBA"  >Aprobar Menú</button>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ObservacionesEBA">Observaciones</button>
                </td>


              </div>
            </div>
          </div>
        </div>
      </div>


  <!--Fin  Menús  sin observaciones -->
   <!-- Inicio Menús  con observaciones -->
      <div *ngIf="menuNoAprobado" >
        <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td> {{ menuEbaNoAprobado.ProductoSolidoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.FrecuenciaSolidoUtilizadoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.MontoSolildoUtilizadoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.frecuenciaSolidoInicialInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.montoSolildoInicial }}  </td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td> {{ menuEbaNoAprobado.ProductoLiquidoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.FrecuenciaLiquidaUtilizadoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.MontoLiquidaUtilizadoInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.frecuenciaLiquidaInicialInicial }}  </td>
                                <td> {{ menuEbaNoAprobado.montoLiquidaInicial }}  </td>


                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
          </div>
        </div>
      </div>

        <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                              <td> {{ menuEbaNoAprobado.ProductoSolidoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.FrecuenciaSolidoUtilizadoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.MontoSolildoUtilizadoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.frecuenciaSolidoPrimariaInicial }}  </td>
                              <td> {{ menuEbaNoAprobado.montoSolidoPrimaria }}  </td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                              <td> {{ menuEbaNoAprobado.ProductoLiquidoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.FrecuenciaLiquidaUtilizadoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.MontoLiquidaUtilizadoPrimaria }}  </td>
                              <td> {{ menuEbaNoAprobado.frecuenciaLiquidaPrimariaInicial }}  </td>
                              <td> {{ menuEbaNoAprobado.montoLiquidaPrimaria }}  </td>


                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
          </div>
        </div>
      </div>

        <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Estado</th>
                              <th>Producto</th>
                              <th>Frecuencia Utilizada</th>
                              <th>Monto Utilizado(Bs.-)</th>
                              <th>Frecuencia Inicial</th>
                              <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                              <td> {{ menuEbaNoAprobado.ProductoSolidoSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.FrecuenciaSolidoUtilizadoSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.MontoSolildoUtilizadaSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.frecuenciaSolidoSegundariaInicial }}  </td>
                              <td> {{ menuEbaNoAprobado.montoSolildoSegundaria }}  </td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                              <td> {{ menuEbaNoAprobado.ProductoLiquidoSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.FrecuenciaLiquidaUtilizadoSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.MontoLiquidaUtilizadoSegundaria }}  </td>
                              <td> {{ menuEbaNoAprobado.frecuenciaLiquidaSegundariaInicial }}  </td>
                              <td> {{ menuEbaNoAprobado.montoLiquidaSegundaria }}  </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <tr>
                  <td *ngIf="menuEbaNoAprobado.ObservacionJefeUnace" ><h5>Observaciones Jefe/a Unace:</h5></td>
                  <td *ngIf="menuEbaNoAprobado.ObservacionEba" ><h5>Observaciones EBA:</h5></td>
                  <td *ngIf="menuEbaNoAprobado.ObservacionJefeUnace" > {{ menuEbaNoAprobado.ObservacionJefeUnace }} </td>
                  <td *ngIf="menuEbaNoAprobado.ObservacionEba" > {{ menuEbaNoAprobado.ObservacionEba }} </td>
                </tr>

                <td >
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AprobarMenuEBA"  >Aprobar Menú</button>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ObservacionesEBA">Observaciones</button>
                </td>


              </div>
            </div>
          </div>
      </div>
      </div>
<!--Fin  Menús  con observaciones -->

      <tfoot>
        <tr>

            <div id="AprobarMenuEBA" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea aprobar el presente menú?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>

        <tr>
          <div id="ObservacionesEBA" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Observaciones Menú</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">

                  <form class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-sm-9">
<!--                            <input type="area" class="form-control" id="solidoinicial" placeholder="Ingresar observación">-->
                          <textarea
                            #observaciones
                            placeholder="Observaciones de EBA ..."
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                           <button
                             (click)="enviarMenuConObservaciones(observaciones)"
                             type="button"
                             class="btn btn-secondary waves-effect"
                             data-dismiss="modal"  >Enviar</button>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>





                    <!-- <div class="modal-footer">
                      <button

                        type="submit"
                        class="btn btn-info waves-effect"
                        data-dismiss="modal" >Guardar</button>
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button> -->
                   <!--  </div> -->
            <!--       </form>
                </div>


              </div>
            </div>
          </div>
        </tr> -->


     <!--  </tfoot> -->








       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

</div>
</div>
