fsdfdsf
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Crear Producto</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Producto</a></li>
                <li class="breadcrumb-item">Crear</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>

         <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header bg-info">
                  <h4 class="m-b-0 text-white">Formulario de Registro</h4>
                </div>
                <div class="card-body">
                    <form
                      (ngSubmit)="crearProducto(f)"
                      #f="ngForm"
                      class="form-horizontal form-bordered">

                        <div class="form-body">

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre de Producto</label>
                            <div class="col-md-9">
                              <input
                                name="NombreProducto"
                                [(ngModel)]="producto.NombreProducto"
                                type="text"
                                autocomplete="off"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Codigo producto</label>
                            <div class="col-md-9">
                              <input
                                name="CodigoProducto"
                                [(ngModel)]="producto.CodigoProducto"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Precio del producto</label>
                            <div class="col-md-9">
                              <input
                                name="PrecioProducto"
                                [(ngModel)]="producto.PrecioProducto"
                                autocomplete="off"
                                type="number"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Cantidad del producto</label>
                            <div class="col-md-9">
                              <input
                                name="CantidadProducto"
                                [(ngModel)]="producto.CantidadProducto"
                                autocomplete="off"
                                type="number"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Descripcion</label>
                            <div class="col-md-9">
                              <input
                                name="Descripcion"
                                [(ngModel)]="producto.Descripcion"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>


                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Categoria</label>
                            <div class="col-md-9">
                                <select
                                name="Genero"
                                [(ngModel)]="producto.IdCategoria"
                                class="form-control custom-select" >
                                <option value="1">Gramos</option>
                                <option value="2">Mililitros</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Proveedor</label>
                            <div class="col-md-9">
                              <select
                                name="Genero"
                                [(ngModel)]="producto.IdProveedor"
                                class="form-control custom-select" >
                                <option [value]="proveedor._id"  *ngFor="let proveedor of proveedores" >
                                  {{ proveedor.NombreProveedor }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Almacen</label>
                            <div class="col-md-9">
                              <select
                                name="Genero"
                                [(ngModel)]="producto.IdAlmacen"
                                class="form-control custom-select" >
                                <option [value]="almacen._id" *ngFor="let almacen of almacenes" >
                                  {{ almacen.NombreAlmacen }}
                                </option>
                              </select>
                            </div>
                          </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                                            <button type="button" class="btn btn-inverse"  >Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
             </div>
        </div>
         <!-- ============================================================== -->
                    <!-- End Page Content -->
         <!-- ============================================================== -->
    </div>
</div>

