<div class="page-wrapper">
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Usuarios</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Usuarios</a></li>
          <li class="breadcrumb-item">Nuevo Usuario</li>

        </ol>
      </div>
      <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Formulario de Registro</h4>
          </div>
          <div class="card-body">

            <form
              (ngSubmit)="login(f)"
              #f="ngForm"
              action="#">
              <div class="form-body">
                <h3 class="card-title">Información Personal</h3>
                <hr>
                <div class="row p-t-20">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Nombre Completo</label>
                      <input
                        name="NombreCompleto"
                        [(ngModel)]="usuario.NombreCompleto"
                        type="text"
                        id="firstName"
                        class="form-control" >
                      <small class="form-control-feedback"> Ingrese el/los nombre(s) </small> </div>
                  </div>

<!--                  <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">Apellidos</label>-->
<!--                      <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Medrano Perez">-->
<!--                      <small class="form-control-feedback"> Ingrese ambos apellidos </small> </div>-->
<!--                  </div>-->

                </div>
                <!--/row-->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Género</label>
                      <select
                        name="Genero"
                        [(ngModel)]="usuario.Genero"
                        class="form-control custom-select" >
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                      </select>
                      <small class="form-control-feedback"> Seleccione el género </small> </div>
                  </div>
                  <!--/span-->
<!--                  <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">Fecha de Nacimiento</label>-->
<!--                      <input type="date" class="form-control" placeholder="dd/mm/yyyy">-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--/span-->
                </div>
                <!--/row-->

                <h3 class="box-title m-t-40">Dirección de Contacto</h3>
                <hr>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Direccion</label>
                      <input
                        name="Direccion"
                        [(ngModel)]="usuario.Direccion"
                        type="text"
                        class="form-control">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Teléfono/Celular</label>
                      <input
                        name="Telefono"
                        [(ngModel)]="usuario.Telefono"
                        type="text"
                        class="form-control">
                    </div>
                  </div>
                  <!--/span-->
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Correo Electrónico</label>
                      <input
                        name="Email"
                        [(ngModel)]="usuario.Email"
                        type="text"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Rol</label>
                        <select
                          name="IdRol"
                         [(ngModel)]="usuario.IdRol"
                         class="form-control custom-select"
                         data-placeholder="Elija un rol"
                         tabindex="1">
                         <option value="Category 1">Rol 1</option>
                                        <option value="Category 2">Rol 2</option>
                                        <option value="Category 3">Rol 3</option>
                                        <option value="Category 4">Rol 4</option>
                                        <option value="Category 5">Rol 5</option>
                                        <option value="Category 6">Rol 6</option>
                                        <option value="Category 7">Rol 7</option> 

                         <option [value]="rol._id" *ngFor="let rol of roles" > {{ rol.NombreRol }} </option>
                        </select>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Rol II</label>
                        <div class="card">
                            <div class="demo-checkbox">
                              <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-blue" />
                              <label for="md_checkbox_21">Rol 1</label>
                              <input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-blue"  />
                              <label for="md_checkbox_22">Rol 2</label>
                              <input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-blue" />
                              <label for="md_checkbox_23">Rol 3</label>
                              <input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-blue" />
                              <label for="md_checkbox_24">Rol 4</label>
                              <input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-blue" />
                              <label for="md_checkbox_25">Rol 5</label>
                              <input type="checkbox" id="md_checkbox_26" class="filled-in chk-col-blue"  />
                              <label for="md_checkbox_26">Rol 6</label>
                              <input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-blue" />
                              <label for="md_checkbox_27">Rol 7</label>
                               </div>
                            </div>
                      </div>
                      </div>
                    
                  <!--/span-->

                </div>

                <div class="row">
<!--                  <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">Rol</label>-->
<!--                      <select class="form-control custom-select" data-placeholder="Elija un rol" tabindex="1">-->
<!--                        <option value="Category 1">Rol 1</option>-->
<!--                        <option value="Category 2">Rol 2</option>-->
<!--                        <option value="Category 3">Rol 3</option>-->
<!--                        <option value="Category 4">Rol 4</option>-->
<!--                        <option value="Category 5">Rol 5</option>-->
<!--                        <option value="Category 6">Rol 6</option>-->

<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--/span-->
<!--                  <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                      <label class="control-label">Entidad</label>-->
<!--                      <select class="form-control custom-select" data-placeholder="Elija una Entidad" tabindex="1">-->
<!--                        <option value="Category 1">SIREMU</option>-->
<!--                        <option value="Category 2">UNACE</option>-->
<!--                        <option value="Category 3">EBA</option>-->

<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--/span-->
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Contraseña</label>
                      <input
                        name="Password"
                        [(ngModel)]="usuario.Password"
                        type="password"
                        class="form-control">
                    </div>
                  </div>
                  <!--/span-->
<!--                  <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                      <label>Confirme Contraseña</label>-->
<!--                      <input type="password" class="form-control">-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--/span-->
                </div>


              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-inverse">Cancelar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
