<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor"> Productos Disponibles</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Reportes</a></li>
                <li class="breadcrumb-item">Productos</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

            


              <!-- Buscador interno -->
            
            <img src="https://img.icons8.com/color/48/000000/search.png" width="35" height="35"/>   &nbsp; &nbsp;
               
            <label class="text-info" for="start"> <strong>  Fecha Inicial:</strong> </label>
             
             &nbsp; &nbsp;

             <input type="date" id="start" name="trip-start"
                    value="2020-08-01"
                    min="2020-08-01" max="2022-12-31">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
            <label class="text-info" for="start"> <strong>   Fecha Final:</strong></label>
            
            &nbsp; &nbsp;
            <input type="date" id="end" name="trip-start"
                           value="2021-12-31"
                           min="2020-08-01" max="2022-12-31">
             <br>
             <br>
             <br>
            
              
              <!-- End Buscador interno -->

             
               <!-- Productos Nivel Inicial -->
              

               <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            &nbsp;<th>12-05-2021</th>
                            <br>
                            <h4 class="card-title">Nivel Inicial</h4>
                            
                            <div class="table-responsive">
                                <table class="table color-bordered-table warning-bordered-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre del Producto</th>
                                            <th>Proveedor</th>
                                            <th>Tipo de Producto</th>
                                            <th>Frecuencia Disponible</th>
                                            <th>Monto Disponible</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>ChocoMilk</td>
                                            <td>EBA</td>
                                            <td>Líquido</td>
                                            <td>26</td>
                                            <td>8000</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Banana</td>
                                            <td>Laciac</td>
                                            <td>Sólido</td>
                                            <td>45</td>
                                            <td>4500</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Cerealac</td>
                                            <td>PIL</td>
                                            <td>Sólido</td>
                                            <td>23</td>
                                            <td>1000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
        <!--  End Productos Nivel Inicial -->
         <!-- Productos Nivel Primaria -->
         <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nivel Primaria</h4>
                        
                        <div class="table-responsive">
                            <table class="table color-bordered-table warning-bordered-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre del Producto</th>
                                        <th>Proveedor</th>
                                        <th>Tipo de Producto</th>
                                        <th>Frecuencia Disponible</th>
                                        <th>Monto Disponible</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ChocoMilk</td>
                                        <td>EBA</td>
                                        <td>Líquido</td>
                                        <td>26</td>
                                        <td>8000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Banana</td>
                                        <td>Laciac</td>
                                        <td>Sólido</td>
                                        <td>45</td>
                                        <td>4500</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Cerealac</td>
                                        <td>PIL</td>
                                        <td>Sólido</td>
                                        <td>23</td>
                                        <td>1000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           </div>
    <!--  End Productos Nivel Primaria -->
     <!-- Productos Nivel Secundaria-->
     <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nivel Secundaria</h4>
                    
                    <div class="table-responsive">
                        <table class="table color-bordered-table warning-bordered-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre del Producto</th>
                                    <th>Proveedor</th>
                                    <th>Tipo de Producto</th>
                                    <th>Frecuencia Disponible</th>
                                    <th>Monto Disponible</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ChocoMilk</td>
                                    <td>EBA</td>
                                    <td>Líquido</td>
                                    <td>26</td>
                                    <td>8000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Banana</td>
                                    <td>Laciac</td>
                                    <td>Sólido</td>
                                    <td>45</td>
                                    <td>4500</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Cerealac</td>
                                    <td>PIL</td>
                                    <td>Sólido</td>
                                    <td>23</td>
                                    <td>1000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       </div>
<!--  End Productos Nivel Secundaria -->

        
            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->



    </div>
</div>




