<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Editar Unidad Educativa</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Unidad Educativa</a></li>
                <li class="breadcrumb-item">Editar</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h6 class="card-subtitle">Búsqueda de unidades educativas existentes por  códigos o nombres</h6>


              <!-- Buscador interno -->
              <div class="row m-t-40">

                <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                <form class="app-search">
                  <input #query type="text" class="form-control" placeholder="Buscar Colegio"> <a class="srh-btn"></a> </form>

                <button (click)="buscarColegio(query)" type="button">Buscar</button>

              </div>
              <!-- End Buscador interno -->

              <!-- Inicio Tabla de Usuarios -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Nivel</th>
                        <th>Distrito</th>
                        <th>Director</th>
                        <th>Alumnos Incial</th>
                        <th>Alumnos Primaria</th>
                        <th>Alumnos Secundaria</th>

                      </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let colegio of colegios; let i = index" >
                            <td> {{ colegio.CodColegio }} </td>
                            <td> {{ colegio.NombreColegio }} </td>
                            <td> {{ colegio.Categoria }} </td>
                            <td> {{ colegio.Distrito }} </td>
                            <td> {{ colegio.Encargado }} </td>
                            <td> {{ colegio.CantidadAlumnosInicial }} </td>
                            <td> {{ colegio.CantidadAlumnosPrimaria }} </td>
                            <td> {{ colegio.CantidadAlumnosSecundaria }} </td>
                            <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact" (click)="editarIndex(i)" >Editar</button>
                            <button
                              (click)="eliminar(i)"
                              type="button"
                              class="btn btn-danger btn-rounded"
                              data-toggle="modal"
                              data-target="#eliminar">Eliminar</button>
                            <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar usuario?</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        (click)="eliminarColegio()"
                                        type="button"
                                        class="btn btn-danger waves-effect"
                                        data-dismiss="modal" >Eliminar</button>
                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </div>

                                </div>
                            </div>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                          <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">Editar Unidad Educativa</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>

                                <div class="modal-body">

                                  <form
                                    class="form-horizontal form-material"
                                    action="index.html">
                                    <div class="form-group">
                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Nombre del colegio</label>
                                        <input
                                          #nmc
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.NombreColegio" >
                                      </div>

<!--                                      <div class="form-group row">-->
<!--                                        <label class="control-label text-right col-md-3">Nivel</label>-->
<!--                                        <div class="col-md-9">-->

<!--                                          <div class="demo-checkbox">-->

<!--                                            <input type="checkbox" id="md_checkbox_inicial" class="filled-in chk-col-blue" checked />-->
<!--                                            <label for="md_checkbox_inicial">Inicial</label>-->
<!--                                            <input type="checkbox" id="md_checkbox_primaria" class="filled-in chk-col-blue"  />-->
<!--                                            <label for="md_checkbox_primaria">Primaria</label>-->
<!--                                             <input type="checkbox" id="md_checkbox_secundaria" class="filled-in chk-col-blue" />-->
<!--                                            <label for="md_checkbox_secundaria">Secundaria</label>-->
<!--                                          </div>-->
<!--                                        </div>-->
<!--                                      </div>-->

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Turno</label>
                                        <input
                                          #tur
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Turno">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Categoria</label>
                                        <input
                                          #categoria
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Categoria">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Ruta</label>
                                        <input
                                          #rut
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Ruta">
                                      </div>

                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Distrito</label>
                                        <input
                                          #distrito
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Distrito">
                                      </div>

                                      <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Número de estudiantes Inicial</label>
                                        <div class="col-md-9">
                                          <input
                                            #alumnosInicial
                                            [value]="colegioEditar.CantidadAlumnosInicial"
                                            type="number"
                                            class="form-control">

                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Número de estudiantes Primaria</label>
                                        <div class="col-md-9">
                                          <input
                                            #alumnosPrimaria
                                            [value]="colegioEditar.CantidadAlumnosPrimaria"
                                            type="number"
                                            class="form-control">

                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Número de estudiantes Secundaria</label>
                                        <div class="col-md-9">
                                          <input
                                            #alumnosSecundaria
                                            [value]="colegioEditar.CantidadAlumnosSecundaria"
                                            type="number"
                                            class="form-control">

                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Director del establecimiento</label>
                                        <div class="col-md-9">
                                          <input
                                            #encargado
                                            [value]="colegioEditar.Encargado"
                                            type="text"
                                            class="form-control">

                                        </div>
                                      </div>


                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Direccion</label>
                                        <input
                                          #dir
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Direccion">
                                      </div>



                                      <div class="col-md-12 m-b-20">
                                        <label class="text-info" >Telefono de referencia</label>
                                        <input
                                          #tel
                                          type="text"
                                          class="form-control"
                                          [value]="colegioEditar.Telefono">
                                      </div>



                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        (click)="editarColegio( nmc, tur, categoria, rut, distrito, alumnosInicial, alumnosPrimaria, alumnosSecundaria, encargado, dir, tel )"
                                        type="submit"
                                        class="btn btn-info waves-effect"
                                        data-dismiss="modal">Guardar</button>

                                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                                    </div>
                                  </form>
                                </div>


                              </div>
                            </div>
                          </div>
                        </tr>
                      </tfoot>

                    <tfoot>

                </table>
              </div>


            </div>
          </div>
        </div>
      </div>






       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->


































    </div>
</div>
