
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon --><b>
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img src="../assets/images/logo-icon-sidace2.png" width="50" height="30" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img src="../assets/images/logo-light-icon-sidace.png" width="50" height="30" alt="homepage" class="light-logo" />
      </b>
        <!--End Logo icon -->
        <!-- Logo text --><span>
        <!-- dark Logo text -->
        <img src="../assets/images/logo-text-sidace.png" width="150" height="80" alt="homepage" class="dark-logo" />
        <!-- Light Logo text -->
        <img src="../assets/images/logo-light-text-sidace.png" width="150" height="80"  class="light-logo" alt="homepage" /></span> </a>
    </div>
    <hr>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->

  </nav>
</header>
