<div class="page-wrapper">

    <div class="container-fluid">
  
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Datos Eliminados Camiones</h3>
        </div>
  
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Datos Eliminados</a>
            </li>
            <li class="breadcrumb-item">Camiones</li>
  
          </ol>
        </div>
  
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
          </button>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h6 class="card-subtitle">Los presentes datos eliminados de camiones distribuidores están disponibles para ser habilitados </h6>
             
  
              <!-- Inicio Tabla -->
              <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10" >
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Nombre del Conductor</th>
                        <th>Ruta</th>
                        <th>Número de placa</th>
                        <th>Modelo de camión</th>
                        </tr>
                    </thead>
  
                    <tbody>
                      <tr>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                        
                        <td >
                          <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#habilitar2"  >Habilitar</button>
                          
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                      
                      <td >
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#habilitar2"  >Habilitar</button>
                        
                      </td>

                     </tr>
                        
  
                    </tbody>
                    <tfoot>
  
                        <div id="habilitar2" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea habilitar este camión distribuidor?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              </div>
  
                              <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-rounded" data-dismiss="modal">Habilitar</button>
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
  
                          </div>
                        </div>
                     </tfoot>


                      
                      
  
                </table>
              
  
  
           
      </div>
  
    
    <footer class="footer"> © 2020 Sidace GAMLP </footer>
  
  

