<div class="login-register" style="padding: 30%;">
  <section id="wrapper" >
    <div class="card-body" >
      <h2>Ingrese el token</h2>
      <form
        class="form-horizontal form-material "
        action="index.html">

        <h3 class="box-title m-b-20"></h3>

        <div class="form-group ">
          <div class="col-xs-12">
            <input
              #token
              class="form-control"
              type="email"
              required="true"
              placeholder="Token">
          </div>
        </div>

        <div class="form-group text-center">
          <div class="col-xs-12 p-b-20">
            <button
              class="btn btn-block btn-md btn-warning btn-rounded"
              type="submit">Enviar</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <button
            class="btn btn-block btn-md btn-danger btn-rounded">Cancelar</button>
        </div>
      </form>

    </div>
  </section>
</div>


