<div class="page-wrapper">
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h2 class="text-themecolor">Elaboración de Menú</h2>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Menú </a></li>
            <li class="breadcrumb-item">Elaboración</li>

          </ol>
        </div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Inicial</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Utilizada</th>
                                <th>Monto Utilizado(Bs.-)</th>
                                <th>Frecuencia Inicial</th>
                                <th>Monto Inicial(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td >
                                  <form >
                                    <select
                                      (change)="calculoSolidoInicial($event)"
                                      class="custom-select"
                                      id="inputGroupSelect01">
                                      <option selected>Producto ...</option>

                                    </select>
                                  </form>
                                </td>
                                <td> {{ calculosInicialSolido.FrecuenciaSolidoUtilizadoInicial }} </td>
                                <td> {{ calculosInicialSolido.MontoSolildoUtilizadoInicial }} </td>
                                <td> {{ calculosInicialSolido.frecuenciaSolidoInicialInicial }} </td>
                                <td> {{ calculosInicialSolido.montoSolildoInicial }} </td>
                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td  >
                                  <form >
                                    <select
                                      (change)="calculoSolidoInicial($event)"
                                      class="custom-select"
                                      id="inputGroupSelect01">
                                      <option selected>Producto ...</option>

                                    </select>
                                  </form>
                                </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>
                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Primaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Disponible</th>
                                <th>Monto Residual(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td  >

                                      <select  name="Producto SÓLIDO"
                                      class="form-control custom-select" >

                                    </select>

                                </td>
                                <td>49</td>
                                <td>39000</td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td  >

                                    <select  name="Producto Liquido"
                                    class="form-control custom-select" >

                                  </select>


                                </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="m-b-0 text-white">Menú Nivel Secundaria</h4>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Producto</th>
                                <th>Frecuencia Disponible</th>
                                <th>Monto Residual(Bs.-)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-success">SÓLIDO</span> </td>
                                <td  >

<!--                                      <select-->
<!--                                        name="Producto SÓLIDO"-->
<!--                                        class="form-control custom-select" >-->
<!--                                        <option-->
<!--                                          *ngFor="let producto of productosSecundariaSolido "-->
<!--                                          (change)="calculoSolidoInicial($event)"-->
<!--                                          [value]="producto.NombreProducto"  >-->
<!--                                          {{ producto.NombreProducto }}-->
<!--                                        </option>-->
<!--                                    </select>-->

<!--                                  <div class="demo-radio-button">-->
<!--                                    <div *ngFor="let producto of productosInicialSolido; let i = index;">-->
<!--                                      <input-->
<!--                                        (change)="calculoSolidoInicial($event.target)"-->
<!--                                        type="radio"-->
<!--                                        [id] = "i"-->
<!--                                        class="filled-in chk-col-blue"-->
<!--                                      >-->
<!--                                      <label [for]="i" > {{ producto.NombreProducto }} </label>-->
<!--                                    </div>-->
<!--                                  </div>-->

                                </td>
                                <td>49</td>
                                <td>39000</td>

                            </tr>
                            <tr>
                                <td><span class="label label-info">LÍQUIDO</span> </td>
                                <td  >

                                    <select  name="Producto Liquido"
                                    class="form-control custom-select" >

                                  </select>


                                </td>
                                <td>56</td>
                                <td>45000</td>


                            </tr>

                        </tbody>
                    </table>
                </div>






            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card">

            <div class="card-body">

                <td >
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp;
                  &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;  &nbsp;   &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;

                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EnviarMenu" >Enviar Menú</button>

                </td>


            </div>
          </div>
        </div>
      </div>


      <tfoot>
        <tr>

            <div id="EnviarMenu" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea enviar el presente menú?
                        <br> Recuerde que se enviará al funcionario EBA para su respectiva aprobación u observación.
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"  >Aceptar</button>
                      <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>

                </div>
              </div>


        </tr>
      </tfoot>





       <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

</div>
</div>
