<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Crear Proveedor</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Proveedor</a></li>
                <li class="breadcrumb-item">Crear</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>

         <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header bg-info">
                  <h4 class="m-b-0 text-white">Formulario de Registro</h4>
                </div>
                <div class="card-body">
                    <form
                      (ngSubmit)="crear(f)"
                      #f="ngForm"
                      class="form-horizontal form-bordered">

                        <div class="form-body">

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre de la empresa proveedora</label>
                            <div class="col-md-9">
                              <input
                                name="NombreProveedor"
                                [(ngModel)]="proveedor.NombreProveedor"
                                type="text"
                                autocomplete="off"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Codigo</label>
                            <div class="col-md-9">
                              <input
                                name="CodigoProveedor"
                                [(ngModel)]="proveedor.CodigoProveedor"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre del Represente Legal</label>
                            <div class="col-md-9">
                              <input
                                name="NombreEmpresa"
                                [(ngModel)]="proveedor.NombreEmpresa"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 1</label>
                            <div class="col-md-9">
                              <input
                                name="pro1"
                                [(ngModel)]="proveedor.pro1"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 2</label>
                            <div class="col-md-9">
                              <input
                                name="pro2"
                                [(ngModel)]="proveedor.pro2"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 3</label>
                            <div class="col-md-9">
                              <input
                                name="pro3"
                                [(ngModel)]="proveedor.pro3"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 4</label>
                            <div class="col-md-9">
                              <input
                                name="pro4"
                                [(ngModel)]="proveedor.pro4"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 5</label>
                            <div class="col-md-9">
                              <input
                                name="pro5"
                                [(ngModel)]="proveedor.pro5"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 6</label>
                            <div class="col-md-9">
                              <input
                                name="pro6"
                                [(ngModel)]="proveedor.pro6"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 7</label>
                            <div class="col-md-9">
                              <input
                                name="pro7"
                                [(ngModel)]="proveedor.pro7"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 8</label>
                            <div class="col-md-9">
                              <input
                                name="pro8"
                                [(ngModel)]="proveedor.pro8"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 9</label>
                            <div class="col-md-9">
                              <input
                                name="pro9"
                                [(ngModel)]="proveedor.pro9"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Producto 10</label>
                            <div class="col-md-9">
                              <input
                                name="pro10"
                                [(ngModel)]="proveedor.pro10"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Dirección</label>
                            <div class="col-md-9">
                              <input
                                name="Direccion"
                                [(ngModel)]="proveedor.Direccion"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Descripcion</label>
                            <div class="col-md-9">
                              <input
                                name="Descripcion"
                                [(ngModel)]="proveedor.Descripcion"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                                            <button type="button" class="btn btn-inverse" (click)="cancelar()" >Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
             </div>
        </div>
         <!-- ============================================================== -->
                    <!-- End Page Content -->
         <!-- ============================================================== -->
    </div>
</div>
