  <div class="card-no-border">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" >
  <div class="login-register" style="background-image:url(../../../assets/images/fondo-amarillo-login.jpg);">

   <div class="container login-container">
    <div class="row">
     <!--  <div class="col-md-7 "> -->
     <img src="../assets/images/sisacebienvenido.png" width="500" height="650" />
     <!--  </div> -->
     <div class="col-md-5 login-box card"  >

      <div class="card-body" *ngIf="!recover" >

        <form
          (ngSubmit)="login(f)"
          #f="ngForm"
          class="form-horizontal form-material "
          id="loginform"
          action="index.html">
          <br>
          <br>
            <a href="#" class="text-center db" >
              <img src="../../../assets/images/logosisace.png" width="300" height="200" alt="Home" />
              <br/>
              <br>

            </a>



            <div class="form-group ">
              <div class="col-xs-12">
                <input
                  name="Email"
                  [(ngModel)]="usuario.Email"
                  class="form-control"
                  type="email"
                  required="true"
                  placeholder="Correo electrónico">
              </div>
            </div>
            <br>

            <div class="form-group">
              <div class="col-xs-12">
                <input
                  name="Password"
                  [(ngModel)]="usuario.Password"
                  class="form-control"
                  type="password"
                  required="true"
                  placeholder="Contraseña">
              </div>
            </div>
            <br>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn  btn-lg btn-info btn-rounded" type="submit">Ingresar</button>
              </div>
            </div>
            <div class="form-group m-b-0">

            </div>
        </form>

        <div class="form-group row">
          <div class="col-md-12">
<!--            <div class="checkbox checkbox-info pull-left p-t-0">-->
<!--              <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">-->
<!--              <label for="checkbox-signup" class="text-primary" > Recuérdame </label>-->
<!--            </div>-->

            <button
              type="button"
              class="btn btn-dark pull-right"
              data-target="#recover"
              (click)="recover  = !recover"
              data-dismiss="modal" >Recuperar Contraseña</button>
          </div>
        </div>

      </div>
      <div class="card-body" *ngIf="recover" >

        <form
          class="form-horizontal form-material "
          action="index.html">
         <br>
         <br>


          <a href="#" class="text-center db" >
            <img src="../../../assets/images/logosisace.png" width="300" height="200" alt="Home" />
            <h4>Recuperar Contraseña</h4>
            <br/>
          </a>

          <h3 class="box-title m-b-20"></h3>

          <div class="form-group ">
            <div class="col-xs-12">
              <input
                #email
                class="form-control"
                type="email"
                required="true"
                placeholder="Correo electrónico">
            </div>
          </div>
          <div class="row justify-content-center h-100" >

          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button
                (click)="recoverPassword(email)"
                (click)="recover = !recover"
                class="btn  btn-lg btn-info btn-rounded"
                type="submit">Enviar</button>
            </div>
          </div>
          &nbsp; &nbsp; &nbsp;

          <div class="form-group m-b-0">
              <button
                (click)="recover = !recover"
                class="btn  btn-lg btn-danger btn-rounded">Cancelar</button>
          </div>
        </div>
        </form>

      </div>

   </div>













    </div>
   </div>














    </div>

</section>

</div>
