<img src="../assets/images/logo-icon-sidace.png" width="200" height="100" alt="homepage" class="dark-logo" />
<img src="../assets/images/logo-text-sidace.png" width="200" height="150" alt="homepage" class="dark-logo" />

<div class="card-no-border">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div class="login-register" style="background-image:url(../../../assets/images/fondo-amarillo-login.jpg);">
    <div class="login-box card">
      <div class="card-body">

        <form class="form-horizontal form-material " id="loginform" action="index.html">

            <a href="#" class="text-center db" >
              <img src="../../../assets/images/logo-sidace.png" width="150" height="100" alt="Home" />
              <br/>
            </a>

            <h3 class="box-title m-b-20"></h3>

            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Correo electrónico"> </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="password" required="" placeholder="Contraseña"> </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                  <div class="checkbox checkbox-info pull-left p-t-0">
                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                    <label for="checkbox-signup" class="text-primary" > Recuerdame </label>
                  </div>

                    <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">
                      <i class="fa fa-lock m-r-5"></i>
                      ¿Olvidaste tu contraseña?
                    </a>
              </div>
            </div>

            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingresar</button>
              </div>
            </div>
            <div class="form-group m-b-0">

            </div>
        </form>

        <form class="form-horizontal" id="recoverform" action="index.html">
          <div class="form-group ">
            <div class="col-xs-12">
              <h3>¿Olvidó su contraseña?</h3>
              <p class="text-muted">Ingrese un correo electrónico y le será enviado instrucciones para recuperar su contraseña </p>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="text" required="" placeholder="Correo Electrónico"> </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

</div>
