<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">

    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">

      <ul id="sidebarnav">

          <li class="user-profile">
<!--              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">-->
<!--              <a class="" >-->
<!--                <img src="../assets/images/users/profile.png" alt="user" />-->
<!--                <span class="hide-menu"> {{ nombre }} </span>-->
<!--              </a>-->
              <h5 class="text-white" > {{nombre}} </h5>
<!--              <ul aria-expanded="true" class="collapse" >-->
<!--                <li><a href="javascript:void()">Mi Perfil </a></li>-->

<!--                <li><a href="javascript:void()">Configuraciones</a></li>-->
<!--                <li><a href="javascript:void()">Salir</a></li>-->
<!--              </ul>-->
          </li>
          <li class="nav-devider"></li>
        <!-- INICIO -->

        <ul aria-expanded="false" class="collapse">
          <li><a href="index.html">Inicio </a></li>
        </ul>


        <div class="accordion" id="accordionExample">

<!--          USUARIOS-->

          <li>
            <div class="card-header" id="headingOne" >
              <h1 class="mb-1" >
               
                
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 
                  <i><img src="https://img.icons8.com/dusk/64/000000/groups.png"width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Usuarios </span></a>
                
              </h1>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body" >
                <ul>
                  <li><a [routerLink]="['/home/usuarios']" >Usuarios</a></li>
                  <li><a [routerLink]="['/home/nuevo-usuario']"  >Nuevo Usuario</a></li>
                  <li><a [routerLink]="['/home/usuario-roles']"   >Permisos y roles</a></li>
                </ul>
              </div>
            </div>
          </li>

          <!--          UNIDAD EDUCATIVA-->

          <li>
            <div class="card-header" id="headingTwo" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                 
                  <i><img src="https://img.icons8.com/fluent/48/000000/school.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu"> <tr>Unidad </tr> <tr>Educativa</tr>   </span></a>
                
              </h2>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a  [routerLink]="['/home/ue-crear']" >Crear</a></li>
                  <li><a  [routerLink]="['/home/ue-editar']" >Editar</a></li>
                  <li><a [routerLink]="['/home/ue-poblacion-beneficiada']">Población beneficiada</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          Proveedores-->

          <li>
            <div class="card-header" id="headingThree" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                 
                  <i> <img src="https://img.icons8.com/fluent/48/000000/supplier.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Proveedores   </span></a>
              </h2>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/proveedores-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/proveedores-editar']" >Editar</a></li>
                  <li><a [routerLink]="['/home/proveedores-asignacionlotes']" >Asignacion lotes</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          ALMACEN-->

          <li>
            <div class="card-header" id="headingFour" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                 
                  <i> <img src="https://img.icons8.com/nolan/64/table-1.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Almacén  </span></a>
                
              </h2>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/almacen-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/almacen-editar']" >Editar</a></li>
                </ul>
              </div>
            </div>
          </li>


<!--          PRODUCTOS-->

          <li>
            <div class="card-header" id="headingSix" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                 
                  <i> <img src="https://img.icons8.com/nolan/48/product.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Productos  </span></a>
                
                
              </h2>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/productos-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/productos-editar']" >Editar</a></li>
                </ul>
              </div>
            </div>
          </li>
  <!--     CAMIONES DISTRIBUIDORES -->

          <li>
            <div class="card-header" id="headingSeven" >
              <h2 class="mb-0" >
              
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                 
                  <i> <img src="https://img.icons8.com/plasticine/100/000000/truck.png" width="35" height="35"/></i>
                  &nbsp;
                <span class="hide-menu"> <tr>Camiones</tr><tr>Distribuidores</tr>  </span></a>
                
              </h2>
            </div>

            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/camiones-crear']">Crear</a></li>
                  <li><a [routerLink]="['/home/camiones-editar']">Editar</a></li>
                </ul>
              </div>
            </div>
          </li>
<!-----    RUTAS    ----->
          <li>
            <div class="card-header" id="headingEleven" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                 
                  <i> <img src="https://img.icons8.com/color/48/000000/track-order.png" width="35" height="35"/></i>
                  &nbsp;
                <span class="hide-menu">Rutas  </span></a>
                
              </h2>
            </div>

            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/ruta-crear']">Crear</a></li>
                  <li><a [routerLink]="['/home/ruta-editar']">Editar</a></li>
                </ul>
              </div>
            </div>
          </li>
<!--     DATOS ELIMINADOS -->

          <li>
            <div class="card-header" id="headingEight" >
              <h2 class="mb-0" >
                
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                 
                  <i> <img src="https://img.icons8.com/color/48/000000/delete-database.png" width="30" height="30 "/></i>
                  &nbsp;
                <span class="hide-menu">Datos Eliminados  </span></a>
                
              </h2>
            </div>

            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/usuarios-eliminados']">Usuarios</a></li>
                  <li><a [routerLink]="['/home/colegios-eliminados']">Colegios</a></li>
                  <li><a [routerLink]="['/home/proveedores-eliminados']">Proveedores</a></li>
                  <li><a [routerLink]="['/home/almacenes-eliminados']">Almacenes</a></li>
                  <li><a [routerLink]="['/home/categorias-eliminados']">Categorias</a></li>
                  <li><a [routerLink]="['/home/productos-eliminados']">Productos</a></li>
                  <li><a [routerLink]="['/home/camiones-eliminados']">Camiones</a></li>
                </ul>
              </div>
            </div>
          </li>

<!------------ MENÚ---------------->

          <li>
            <div class="card-header" id="headingNine" >
              <h2 class="mb-0" >
               
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                 
                  <i>  <img src="https://img.icons8.com/color/48/000000/strawberry.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Menú </span></a>
                
              </h2>
            </div>

            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/calculos-diarios']">Calculos Diarios</a></li>
                  <li><a [routerLink]="['/home/menu-elaboracion']">Elaboración</a></li>
                  <li><a [routerLink]="['/home/menu-eba']">Aprobación EBA</a></li>
                  <li><a [routerLink]="['/home/menu-jefa']">Aprobación Final</a></li>

                </ul>
              </div>
            </div>
          </li>

<!--          REPORTES-->

          <li>
            <div class="card-header" id="headingTen" >
              <h2 class="mb-0" >
              
                <a class="has-arrow waves-effect waves-info " data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                 
                  <i> <img src="https://img.icons8.com/color/48/000000/presentation.png" width="30" height="30"/></i>
                  &nbsp;
                <span class="hide-menu">Reportes </span></a>
                
              </h2>
            </div>

            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/reporte-consultalotes']">Consulta lotes</a></li>
                  <li><a [routerLink]="['/home/reporte-menuconfirmado']">Menu confirmado</a></li>
                  <li><a [routerLink]="['/home/reporte-productosdisp']">Productos disponibles</a></li>
                  <li><a [routerLink]="['/home/reporte-consolidadoue']">Consolidado unidad educativa</a></li>
                  <li><a [routerLink]="['/home/reporte-consolidadoglob']">Consolidado global</a></li>
                  <li><a [routerLink]="['/home/reporte-consolidadoprep']">Consolidado prep</a></li>
                  <li><a [routerLink]="['/home/reporte-estadistico']">Estadistico</a></li>
                  <li><a [routerLink]="['/home/reporte-incidencia']">Incidencia</a></li>
                  <li><a [routerLink]="['/home/reporte-ruteo']">Ruteo</a></li>
                  <li><a [routerLink]="['/home/reporte-entrega']">Entrega</a></li>
                </ul>
              </div>
            </div>
          </li>


<!--          calculos diarios  [routerLink]="['/home/calculos-diarios']" -->

<!--          menu elaboracion [routerLink]="['/home/menu-elaboracion']" -->

<!--          menu eba [routerLink]="['/home/menu-eba']" -->

<!--          menu jefa [routerLink]="['/home/menu-jefa']" -->
        </div>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->


