<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">

    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">

      <ul id="sidebarnav">

          <li class="user-profile">
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <img src="../assets/images/users/profile.png" alt="user" />
                <span class="hide-menu">Steave Jobs </span>
              </a>
              <ul aria-expanded="true" class="collapse" >
                <li><a href="javascript:void()">Mi Perfil </a></li>

                <li><a href="javascript:void()">Configuraciones</a></li>
                <li><a href="javascript:void()">Salir</a></li>
              </ul>
          </li>
          <li class="nav-devider"></li>
        <!-- INICIO -->

        <ul aria-expanded="false" class="collapse">
          <li><a href="index.html">Inicio </a></li>
        </ul>


        <div class="accordion" id="accordionExample">

<!--          USUARIOS-->
          <li>
            <div class="card-header" id="headingOne" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/dusk/64/000000/groups.png"width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Usuarios
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/usuarios']" class="active" >Usuarios</a></li>
                  <li><a [routerLink]="['/home/nuevo-usuario']" class="active" >Nuevo Usuario</a></li>
                  <li><a [routerLink]="['/home/usuario-roles']"  class="active" >Permisos y roles</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          UNIDAD EDUCATIVA-->

          <li>
            <div class="card-header" id="headingTwo" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/fluent/48/000000/school.png" width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Unidad educativa
                </button>
              </h2>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a  [routerLink]="['/home/ue-crear']" class="active">Crear</a></li>
                  <li><a  [routerLink]="['/home/ue-editar']" >Editar</a></li>
                  <li><a [routerLink]="['/home/ue-poblacion-beneficiada']">Población beneficiada</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          Proveedores-->

          <li>
            <div class="card-header" id="headingThree" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/fluent/48/000000/supplier.png" width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Proveedores
                </button>
              </h2>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/proveedores-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/proveedores-editar']" >Editar</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          ALMACEN-->

          <li>
            <div class="card-header" id="headingFour" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/nolan/64/table-1.png" width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Almacén
                </button>
              </h2>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/almacen-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/almacen-editar']" >Editar</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          CATEGORIA-->

          <li>
            <div class="card-header" id="headingFive" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/fluent/48/000000/groups.png"width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  Categoría
                </button>
              </h2>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/categoria-crear']">Crear</a></li>
                  <li><a [routerLink]="['/home/categoria-editar']">Editar</a></li>
                </ul>
              </div>
            </div>
          </li>

<!--          PRODUCTOS-->

          <li>
            <div class="card-header" id="headingSix" >
              <h2 class="mb-0" >
                <img src="https://img.icons8.com/nolan/48/product.png" width="30" height="30"/>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  Productos
                </button>
              </h2>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li><a [routerLink]="['/home/productos-crear']" >Crear</a></li>
                  <li><a [routerLink]="['/home/productos-editar']" >Editar</a></li>
                </ul>
              </div>
            </div>
          </li>

        </div>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->


