<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Editar Categoría</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Categoría</a></li>
                <li class="breadcrumb-item">Editar</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>
       <!-- ============================================================== -->
                    <!-- Start Page Content -->
       <!-- ============================================================== -->
       
       <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

              <h6 class="card-subtitle">Búsqueda de Categoría existentes por  códigos o nombres</h6>


              <!-- Buscador interno -->
              <div class="row m-t-40">

                <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                <form class="app-search">
                  <input type="text" class="form-control" placeholder="Buscar categoría"> <a class="srh-btn"></a> </form>

                <button type="button">Buscar</button>

              </div>
              <!-- End Buscador interno -->
       
       <div class="table-responsive">
           <table class="table">
               <thead>
                   <tr>
                       <th>Código</th>
                       <th>Nombre</th>
                       <th>Descripción</th>
                       
                      
                       
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>589</td>
                       <td>Lácteos</td>
                       <td>Leches,jugos de malta, yogurt</td>
                       <td>
                       <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact" >Editar Usuario</button>
                       <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#eliminar" >Eliminar</button>
                       </td>
                       <div id="eliminar" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea eliminar usuario?</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" >Eliminar</button>
                              <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>

                        </div>
                      </div>
                   </tr>
                  
               </tbody>

               <tfoot>
                <tr>
                  <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Editar Categoría</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>

                        <div class="modal-body">

                          <form
                            class="form-horizontal form-material"
                            action="index.html">
                            <div class="form-group">
                              <div class="col-md-12 m-b-20">
                                <label class="text-info" >Código</label>
                                <input

                                  #nc
                                  type="text"
                                  class="form-control">
                                 
                              </div>
                              <div class="col-md-12 m-b-20">
                                <label class="text-info" >Nombre</label>
                                <input

                                  #ce
                                  type="text"
                                  class="form-control">
                                 
                              </div>
                              <div class="col-md-12 m-b-20">
                                <label class="text-info" >Descripción</label>
                                <input

                                  #d
                                  type="text"
                                  class="form-control">
                                  
                              </div>


                            </div>
                            
                            <div class="modal-footer">
                              <button
                                
                                type="submit"
                                class="btn btn-info waves-effect"
                                data-dismiss="modal" >Guardar</button>
                              <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancelar</button>
                            </div>
                          </form>
                        </div>
                    </div>

                      </div>
                    </div>
                  
                </tr>
              </tfoot>

           </table>
       </div>


            </div>
          </div>
        </div>
       </div>


       <!-- ============================================================== -->
                    <!-- End Page Content -->
       <!-- ============================================================== -->


































    </div>
</div>



