<div class="page-wrapper">
    <div class="container-fluid">
      <br>

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Registro Almacén</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Almacén</a></li>
                <li class="breadcrumb-item">Crear</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>

         <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header bg-warning">
                  <h4 class="m-b-0 text-white">Formulario de Registro</h4>
                </div>
                <div class="card-body">
                    <form
                      (ngSubmit)="crearAlmacen(f)"
                      #f="ngForm"
                      class="form-horizontal form-bordered">

                        <div class="form-body">

                         
  <!-- 
                         <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre de Almacén</label>
                            <div class="col-md-9">
                              <input
                                name="NombreAlmacen"
                                [(ngModel)]="almacen.NombreAlmacen"
                                type="text"
                                autocomplete="off"
                                class="form-control">
                            </div>
                          </div>


                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Código del almacen</label>
                            <div class="col-md-9">
                              <input
                                name="CodigoAlmacen"
                                [(ngModel)]="almacen.CodigoAlmacen"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                           <div class="form-group row">
                            <label class="control-label text-right col-md-3">Descripcion</label>
                            <div class="col-md-9">
                              <input
                                name="Descripcion"
                                [(ngModel)]="almacen.Descripcion"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>
                         -->


                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Nombre de Almacén</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="almacen.NombreAlmacen" #NombreAlmacen="ngModel" type="text"
                                name="NombreAlmacen" id="NombreAlmacen" placeholder="NombreAlmacen" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <div *ngIf="NombreAlmacen.touched && !NombreAlmacen.valid">
                                  <div *ngIf="NombreAlmacen.errors.required">Nombre del almacen es requerido</div>
                                  <div *ngIf="NombreAlmacen.errors.minlength">Nombre de almacen de al menos {{NombreAlmacen.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div> 

                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Código del almacen</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="almacen.CodigoAlmacen" #CodigoAlmacen="ngModel" type="text"
                                name="CodigoAlmacen" id="CodigoAlmacen" placeholder="CodigoAlmacen" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <div *ngIf="CodigoAlmacen.touched && !CodigoAlmacen.valid">
                                  <div *ngIf="CodigoAlmacen.errors.required">Código del almacen es requerido</div>
                                  <div *ngIf="CodigoAlmacen.errors.minlength">Código de almacen de al menos {{CodigoAlmacen.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div> 
                    
                          <div class="input-field col s6">
                            <label class="control-label text-right col-md-3">Descripcion</label>
                            <div class="col-md-9">
                              <input [(ngModel)]="almacen.Descripcion" #Descripcion="ngModel" type="text"
                                name="Descripcion" id="Descripcion" placeholder="Descripcion" minlength="1"
                                maxlength="40" required
                                type="text"
                                autocomplete="off"
                                class="form-control">
                                <div *ngIf="Descripcion.touched && !Descripcion.valid">
                                  <div *ngIf="Descripcion.errors.required">Descripción del almacen es requerido</div>
                                  <div *ngIf="Descripcion.errors.minlength">Descripción de almacen de al menos {{Descripcion.errors.minlength.requiredLength}} caracteres.</div>
                                </div>
                            </div>
                          </div> 

                         


                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-warning"> <i class="fa fa-check"></i> Guardar</button>
                                            <button type="button" class="btn btn-secondary waves-effect" (click)="cancelar()" >Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
             </div>
        </div>
         <!-- ============================================================== -->
                    <!-- End Page Content -->
         <!-- ============================================================== -->
    </div>
</div>






