<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Registro Almacén</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Almacén</a></li>
                <li class="breadcrumb-item">Crear</li>

              </ol>
            </div>
            <div class="">
              <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
          </div>

         <!-- ============================================================== -->
                    <!-- Start Page Content -->
         <!-- ============================================================== -->

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                <div class="card-header bg-info">
                  <h4 class="m-b-0 text-white">Formulario de Registro</h4>
                </div>
                <div class="card-body">
                    <form
                      (ngSubmit)="crearAlmacen(f)"
                      #f="ngForm"
                      class="form-horizontal form-bordered">

                        <div class="form-body">

                         <!-- <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre de Almacén</label>
                            <div class="col-md-9">
                              <input
                                name="NombreAlmacen"
                                [(ngModel)]="almacen.NombreAlmacen"
                                type="text"
                                autocomplete="off"
                                class="form-control">
                            </div>
                          </div>-->

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre de Almacén</label>
                            <div class="col-md-9">
                            <input [(ngModel)]="almacen.NombreAlmacen" #nombre="ngModel" type="text" name="NombreAlmacen" id="NombreAlmacen" placeholder="NombreAlmacen" minlength="8"
                              maxlength="40" required>
                            <div *ngIf="NombreAlmacen.touched && !NombreAlmacen.valid">
                              <div *ngIf="NombreAlmacen.errors.required">Nombre es requerido</div>
                              <div *ngIf="NombreAlmacen.errors.minlength">Nombre debe ser de al menos {{nombre.errors.minlength.requiredLength}} caracteres.</div>
                            </div>
                          </div>-->





                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Código del almacen</label>
                            <div class="col-md-9">
                              <input
                                name="CodigoAlmacen"
                                [(ngModel)]="almacen.CodigoAlmacen"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Descripcion</label>
                            <div class="col-md-9">
                              <input
                                name="Descripcion"
                                [(ngModel)]="almacen.Descripcion"
                                autocomplete="off"
                                type="text"
                                class="form-control">
                            </div>
                          </div>


                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                                            <button type="button" class="btn btn-inverse" (click)="cancelar()" >Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
             </div>
        </div>
         <!-- ============================================================== -->
                    <!-- End Page Content -->
         <!-- ============================================================== -->
    </div>
</div>




